<div class="fr-header__tools-links">
  <ul class="fr-links-group">
    <li>
      <% faq_contact_url = site_v3? ? faq_index_path : 'https://entreprise.api.gouv.fr/support/' %>
      <a class="fr-link fr-fi-<%= t('.links.faq_contact.icon') %>" href="<%= faq_contact_url %>" #target="_blank">
        <%= t('.links.faq_contact.title') %>
      </a>
    </li>
    <li>
      <turbo-frame id="current_status" src="<%= current_status_path %>">
        <a class="fr-link" href="https://status.entreprise.api.gouv.fr" alt="API Entreprise Status Page" target="_blank">
          <span class="circle circle-undefined fr-mr-1w"></span> <%= t('pages.current_status.title') %>
        </a>
      </turbo-frame>
      <span class="fr-header-separator"></span>
    </li>
    <% if user_signed_in? %>
      <li>
        <a class="fr-link fr-fi-<%= t('.links.user_connected.icon') %>" href="<%= user_profile_path %>">
          <%= current_user.full_name %>
        </a>
      </li>
      <li>
        <a class="fr-link fr-fi-<%= t('.links.sign_out.icon') %>" id="logout_button" href="<%= logout_path %>" target="_self" data-method="delete">
          <%= t('.links.sign_out.title') %>
        </a>
      </li>
    <% else %>
      <li>
        <%= form_with(url: login_api_gouv_path, method: :post, data: { turbo: false }) do |f| %>
          <%= f.button t('.links.sign_in.title'), class: "fr-link fr-fi-#{t('.links.sign_in.icon')}", id: 'login_header' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

