<div class="fr-table fr-table--bordered fr-table--layout-fixed">
  <table>
    <caption>
      Éditeurs
    </caption>
    <thead>
      <tr>
        <%
          [
            'ID',
            'Nom',
            'Formulaires',
            'Features',
            'Emails',
            'Actions',
          ].each do |attr|
        %>
          <th scope="col">
            <%= attr %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @editors.each do |editor| %>
        <tr id="<%= dom_id(editor) %>" class="editor">
          <td class="editor-id">
            <%= editor.id %>
          </td>
          <td class="editor-name">
            <%= editor.name %>
          </td>
          <td class="editor-form_uids">
            <ul>
              <% editor.form_uids.each do |form_uid| %>
                <% url = "#{datapass_v2_base_url(namespace)}/formulaires/#{form_uid}/demande/nouveau" %>
                <li>
                  <%= link_to form_uid, url, target: '_blank' %>
                </li>
              <% end %>
            </ul>
          </td>
          <td class="editor-feature-enabled">
            <ul>
              <li>Copier jeton : <%= editor.copy_token? ? '✅' : '❌' %></li>
            </ul>
          </td>
          <td class="editor-emails">
            <% if editor.users %>
              <ul>
                <% editor.users.each do |user| %>
                  <li>
                    <%= user.email %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </td>
          <td class="editor-actions">
            <%= link_to 'Mettre à jour', edit_admin_editor_path(editor), id: dom_id(editor, :edit), class: %w[fr-btn] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @editors %>
