<% extra_classes ||= '' %>

<div class="use-cases <%= extra_classes %>">
  <h3 class="fr-mb-2v" id="<%= id %>">
    <%= t('.title') %>
  </h3>

  <h6 class="fr-pt-2w fr-mb-1v">
    <%= t('.format.title') %>
  </h6>

  <% @endpoint.format.each do |format| %>
    <div>
      <%= format %>
    </div>
  <% end %>

  <h6 class="fr-pt-2w fr-mb-1v">
    <%= t('.parameters.title', count: @endpoint.parameters.count) %>
  </h6>

  <% @endpoint.parameters.each do |parameter| %>
    <div>
      <%= parameter %>
    </div>
  <% end %>

  <h6 class="fr-pt-2w fr-mb-1v">
    <%= t('.availability.title') %>
  </h6>
  <a class="fr-pt-1v fr-link" href="https://status.entreprise.api.gouv.fr" target="_blank">
    <%= t('.availability.link') %>
  </a>
  <div class="fr-pt-2w">
    <%= t('.availability.opening_time.title') %> <%= markdown_to_html(@endpoint.availability['opening_time']) %>
  </div>


  <h5 class="fr-pt-2w">
    <%= t('.technical_specifications.title') %>
  </h5>

  <% if @endpoint.implemented? %>
    <%= link_to t('.technical_specifications.cta'), developers_openapi_path(anchor: @endpoint.redoc_anchor), data: { turbo: false }, class: %(fr-btn fr-btn--icon-right fr-icon-arrow-right-line) %>
  <% end %>

  <!-- <h5 class="fr&#45;mt&#45;3w"> -->
  <!--   <%= t('.availability.title') %> -->
  <!-- </h5> -->
  <!--  -->
  <!-- <div> -->
  <!--   Taux moyen sur 6 mois -->
  <!--   <span class="circle circle&#45;success"></span> <strong>99.98%</strong> -->
  <!--   <br /> -->
  <!--   <br /> -->
  <!--   Temps réel: <strong>UP</strong> -->
  <!--   <br /> -->
  <!--   <a href="https://status.entreprise.api.gouv.fr" alt="API Entreprise Status Page" target="_blank"> -->
  <!--     Page d'état des APIs -->
  <!--   </a> -->
  <!--   <br /> -->
  <!--   <br /> -->
  <!--   Horaires de fonctionnement : <br /> -->
  <!--   7jours/7 24h/24 -->
  <!-- </div> -->
</div>
