<% extra_classes ||= '' %>

<div class="details <%= extra_classes %>">
  <% if @endpoint.use_cases %>
    <h2 class="fr-h3" id="<%= id %>">
      <%= t('.main.title') %>
    </h2>

    <div>
      <%= t('.main.description') %>
    </div>

    <ul class="fr-tags-group fr-mt-2w">
      <% @endpoint.use_cases.each do |use_case| %>
        <li class="fr-mb-1w">
          <a href="/cas_usages/aides_publiques" class="fr-tag" target="_self"><%= use_case %></a>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @endpoint.use_cases_optional %>
    <div>
      <%= t('.optional.description') %>
    </div>

    <ul class="fr-tags-group fr-mt-2w">
      <% @endpoint.use_cases_optional.each do |use_case| %>
        <li class="fr-mb-1w">
          <a href="/cas_usages/aides_publiques" class="fr-tag" target="_self"><%= use_case %></a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
