<section id="section-newsletter" class="fr-background-default-white fr-pt-6w">
  <div class="fr-container">
    <% if action_name == 'home' %>
      <div class="fr-grid-row">
        <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-6 fr-col-lg-6 fr-col-xl-6">
          <h2 class="fr-h3" id="newsletter-title"><%= t('.title').html_safe %></h2>
        </div>
      </div>
    <% end %>
    <div class="fr-grid-row">
      <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-6 fr-col-lg-6 fr-col-xl-6">
        <h3 class="fr-h4 fr-mb-0"><%= t('.newsletter_title').html_safe %></h3>
        <iframe class="mj-w-res-iframe" height="450" src="https://app.mailjet.com/widget/iframe/zR1/Npe" width="100%" title="Interface pour s'abonner aux infolettres de l'API Entreprise"></iframe>
      </div>
      <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-5 fr-col-lg-5 fr-col-xl-5">
        <h3 class="fr-h4 "><%= t('.operations_title').html_safe %></h3>
        <p><%= t('.operations_description').html_safe %></p>
        <a href="https://status.entreprise.api.gouv.fr/subscribe/email" class="fr-btn fr-btn--secondary fr-mb-8v" target="_blank"><%= t('.operations_button') %></a>

        <h3 class="fr-h4 fr-hidden"><%= t('.archives_title').html_safe %></h3>
        <p class="fr-hidden"><%= t('.archives_description').html_safe %></p>
      </div>
    </div>
  </div>
</section>
