<section id="section-newsletter" class="fr-background-default-white fr-pt-6w">
  <div class="fr-container">
    <% if action_name == 'home' %>
      <div class="fr-grid-row">
        <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-6 fr-col-lg-6 fr-col-xl-6">
          <h2 class="fr-h3" id="newsletter-title"><%= t('.title').html_safe %></h2>
        </div>
      </div>
    <% end %>
    <div class="fr-grid-row">
      <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-6 fr-col-lg-6 fr-col-xl-6">
        <h3 class="fr-h4"><%= t('.newsletter_title').html_safe %></h3>
        <p><%= t('.newsletter_description').html_safe %></p>
        <iframe data-w-type="embedded" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://redir.entreprise.api.gouv.fr/wgt/ls12/294/form?c=20fa0f47" width="100%"></iframe>

        <script type="text/javascript" src="https://app.mailjet.com/pas-nc-embedded-v1.js"></script>
      </div>
      <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-5 fr-col-lg-5 fr-col-xl-5">
        <h3 class="fr-h4 "><%= t('.operations_title').html_safe %></h3>
        <p><%= t('.operations_description').html_safe %></p>
        <a href="https://status.entreprise.api.gouv.fr/subscribe/email" class="fr-btn fr-btn--secondary fr-mb-8v" target="_blank"><%= t('.operations_button') %></a>

        <h3 class="fr-h4 fr-hidden"><%= t('.archives_title').html_safe %></h3>
        <p class="fr-hidden"><%= t('.archives_description').html_safe %></p>
      </div>
    </div>
  </div>
</section>
