<div class="banner <%= action_name %>-background-color fr-pt-10v fr-pb-10v">
  <h1>
    <%= @documentation_page.title.html_safe %>
  </h1>
  <div class="fr-search-bar fr-search-bar--lg fr-mb-8v" id="search-2" role="search">
  </div>

  <div class="links">
    <% if action_name == 'developers' %>
      <a class="fr-link fr-text--lg fr-m-2v" href="#specifications-generales"><%= t('.link_specs') %>&nbsp;<span class="fr-icon-arrow-down-line" aria-hidden="true"></span></a>
      <a class="fr-link fr-text--lg fr-m-2v" href="#tester-api-preproduction"><%= t('.link_preprod') %>&nbsp;<span class="fr-icon-arrow-down-line" aria-hidden="true"></span></a>
      <a class="fr-link fr-text--lg fr-m-2v" href="#kit-de-mise-en-production"><%= t('.link_kit') %>&nbsp;<span class="fr-icon-arrow-down-line" aria-hidden="true"></span></a>
      <a class="fr-link fr-text--lg fr-m-2v" href="/blog/migration-api-particulier-v3"><%= t('.link_migration') %>&nbsp;<span class="fr-icon-arrow-right-line" aria-hidden="true"></span></a>
    <% end %>
  </div>
</div>
