<div class="banner fr-pl-10w fr-pr-10w fr-pt-10v fr-pb-10v">
  <h1><%= t('.title') %>&nbsp;🛠</h1>
  <div class="fr-search-bar fr-search-bar--lg fr-mb-8v" id="search-2" role="search">
    <label class="fr-label" for="search-787-input">
      <%= t('.search') %>
    </label>
    <input class="fr-input" placeholder="Rechercher" type="search" id="search-787-input" name="search-787-input">
    <button class="fr-btn">
      <%= t('.search') %>
    </button>
  </div>

  <div class="links">
    <a class="fr-link fr-text--lg fr-m-2v" href="#contenu"><%= t('.link_specs') %>&nbsp;<span class="fr-icon-arrow-down-line" aria-hidden="true"></span></a>
    <a class="fr-link fr-text--lg fr-m-2v" href="#contenu"><%= t('.link_kit') %>&nbsp;<span class="fr-icon-arrow-down-line" aria-hidden="true"></span></a>
    <a class="fr-link fr-text--lg fr-m-2v" href="#contenu"><%= t('.link_migration') %>&nbsp;<span class="fr-icon-arrow-down-line" aria-hidden="true"></span></a>
  </div>
</div>
