<div class="fr-grid-row">
  <div class="fr-table fr-table--bordered">
    <div class="fr-search-bar fr-col-6" id="header-search" role="search">
      <label class="fr-label" for="search-input">
        Recherche par cas d'usage, JTI
      </label>
      <input class="fr-input" placeholder="Rechercher par cas d'usage, JTI" type="search" id="search-input" name="search-input" onkeyup="filterTable()">
    </div>
    <table class="fr-col-12 filterable-table">
      <caption>Liste des jetons</caption>
      <thead>
        <tr>
          <th scope="col"> Date création </th>
          <th scope="col"> Cas d'usage </th>
          <th scope="col"> Demande DataPass </th>
          <th scope="col"> Date d'expiration </th>
          <th scope="col"> Archivé </th>
          <th scope="col"> Blacklisté </th>
        </tr>
      </thead>
      <tbody>
        <% @tokens.each do |token| %>
          <tr id="<%= dom_id(token) %>" class='token_summary'>
            <td><%= I18n.l(token.created_at, format: :compact ) %></td>
            <td class="filter"><%= link_to token.intitule, token_path(token), class: "filter", id: dom_id(token, :show) %></td>
            <td class="filter"><%= link_to token.authorization_request.external_id, token.authorization_request_url %></td>
            <td><%= I18n.l(Time.zone.at(token.exp), format: :compact_with_hours) %></td>
            <td><%= boolean_i18n(token.archived?)    %></td>
            <td><%= boolean_i18n(token.blacklisted?) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
