<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <title><%= t('.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render partial: 'shared/favicons' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'api_particulier', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'api_particulier', 'data-turbo-track': 'reload' %>
    <%= yield :head %>
    <%= javascript_include_tag "turbo", type: "module" %>

    <%= render partial: 'shared/common_head_scripts' %>
  </head>

  <body
    data-algolia-application-id="<%= Rails.application.credentials.algolia_application_id %>"
    data-algolia-search-key="<%= Rails.application.credentials.algolia_search_api_key %>"
  >
    <%# <%= render partial: 'shared/matomo' %>
    <%= render partial: 'shared/api_particulier/header' %>

    <% if content_for?(:no_container) %>
      <%= yield(:no_container) %>
    <% else %>
      <%= render partial: 'shared/api_particulier/containerized_body' %>
    <% end %>

    <%= render partial: 'shared/api_particulier/footer' %>
    <%= render partial: 'shared/modal' %>
    <%= render partial: 'shared/tooltip' %>
  </body>
</html>
