<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour et bienvenue,</p>

    <p>L'accès au compte utilisateur API Entreprise vient de vous être transféré par <%= @old_owner.email %>.</p>

    <% if @new_owner.oauth_api_gouv_id.nil? %>
      <p>
      Vous devez au préalable vous créer un <%= link_to 'compte DataPass', @datapass_signup_url %> pour accéder à votre espace API Entreprise. Il est impératif de renseigner les informations suivantes afin d'éviter des erreurs de réconciliation à votre première connexion :
      </p>
      <ul>
        <li>adresse email : <%= @new_owner.email %></li>
        <li>siret de votre organisation : <%= @new_owner.context %></li>
      </ul>
    <% else %>
      <p>Vos identifiants de compte DataPass associés à votre adresse e-mail <%= @new_owner.email %> vous seront demandés pour accéder à votre compte utilisateur API Entreprise.</p>
    <% end %>

    <p>Vous pourrez alors accéder aux jetons votre organisation, connectez-vous simplement à l'<%= link_to 'espace utilisateur API Entreprise', @login_url %> en utilisant vos identifiants DataPass.</p>

    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
