<div id="homepage">
  <%= render 'api_entreprise/pages/home/section_welcome' %>
  <%= render 'api_entreprise/pages/home/section_access' %>
  <%= render 'api_entreprise/pages/home/section_howto' %>
  <%= render partial: 'api_entreprise/pages/newsletter/main' %>
  <%= render 'api_entreprise/pages/home/section_partners' %>
  <%= render 'api_entreprise/pages/home/section_endpoints' %>
  <%= render 'api_entreprise/pages/home/section_developers' %>
</div>
