<h1><%= t('.interface') %></h1>

<h5><%= t('.description') %><h5>

<div class="fr-card--horizontal fr-card--no-arrow token-card">
  <div class="fr-card__body">
    <div id='attestations'>
      <div class="form-container">
        <%= form_with url: search_attestations_path, data: { turbo_frame: "attestations_token" } do |f| %>
          <div class="fr-text" data-controller="token">
            <div class="fr-select-group">
              <label><%= t('.token.label') %></label>
              <%= select_tag(
                :jwt_id,
                options_for_select(
                  @jwts.map do |jwt|
                    [
                      "#{t('.authorization_request_number')} #{jwt.authorization_request.external_id} - #{jwt.authorization_request.intitule}",
                      jwt.id
                    ]
                  end,
                  @best_jwt&.id
                ),
                { class: "fr-select fr-mt-2w", id: "token" }
              ) %>
            </div>
          </div>
          <hr>
          <div class="search-group">
            <div>
              <%= f.label :siret, t('.siret_number.label'), { class: "fr-label" } %>
              <%= f.text_field :siret, { maxlength: 14, class: "fr-input fr-col-3", id: "search_siret" } %>
            </div>
            <%= f.submit t('.search'), { class: 'fr-btn fr-btn--secondary fr-mt-4w', id: 'search' } %>
          </div>
        <% end %>
      </div>
    </div>
    <div id='attestations-result'></div>
  </div>
</div>
