<%= turbo_stream.replace "attestations-result" do %>
  <div class="fr-callout fr-mt-4w fr-text--regular" id="attestations-result">
    <p class="fr-callout__title">
      <%= @attestation_facade.entreprise.raison_sociale %>
    </p>
    <p>
      <strong><%= t('.company_type.label') %></strong>
      <%= @attestation_facade.entreprise.forme_juridique %>
    </p>
    <p>
      <strong><%= t('.company_category.label') %></strong>
      <%= @attestation_facade.entreprise.categorie_entreprise %>
    </p>
    <p>
      <strong><%= t('.naf_code.label') %></strong>
      <%= "#{@attestation_facade.entreprise.naf_entreprise} - #{@attestation_facade.entreprise.libelle_naf_entreprise}" %>
    </p>

    <% if @jwt.decorate.include_attestation_sociale? %>
      <%= link_to @attestation_facade.attestation_sociale_url,
        { class: "fr-btn", id: 'attestation-sociale-download', target: "_blank" } do %>
        <span class="fr-fi-download-line" aria-hidden="true"></span>
        &nbsp;
        <%= "#{t('.attestation_sociale')} (PDF)" %>
      <% end %>
    <% end %>

    <% if @jwt.decorate.include_attestation_fiscale? %>
      <%= link_to @attestation_facade.attestation_fiscale_url,
        { class: "fr-btn", id: 'attestation-fiscale-download', target: "_blank" } do %>
        <span class="fr-fi-download-line" aria-hidden="true"></span>
        &nbsp;
        <%= "#{t('.attestation_fiscale')} (PDF)" %>
      <% end %>
    <% end %>
  </div>
<% end %>
