<%= turbo_stream.replace "result" do %>
  <div class="fr-callout">
    <p class="fr-callout__title">
      <%= @attestation_facade.entreprise_raison_sociale %>
    </p>
    <p><strong>Nature juridique : </strong><%= @attestation_facade.entreprise_forme_juridique %></p>
    <p><strong>Catégorie d'entreprise : </strong><%= @attestation_facade.entreprise_categorie %></p>
    <p>
      <strong>Code NAF : </strong>
      <%= "#{@attestation_facade.entreprise_naf} - #{@attestation_facade.entreprise_libelle_naf}" %>
    </p>

    <% if @jwt_facade.attestations_roles.map(&:code).include? 'attestations_sociales' %>
      <%= link_to @attestation_facade.attestation_sociale_url, { class: "fr-btn", target: "_blank" } do %>
        <span class="fr-fi-download-line" aria-hidden="true"></span>&nbsp;Attestation sociale (PDF)
      <% end %>
    <% end %>

    <% if @jwt_facade.attestations_roles.map(&:code).include? 'attestations_fiscales' %>
      <%= link_to @attestation_facade.attestation_fiscale_url, { class: "fr-btn", target: "_blank" } do %>
        <span class="fr-fi-download-line" aria-hidden="true"></span>&nbsp;Attestation fiscale (PDF)
      <% end %>
    <% end %>
  </div>
<% end %>
