<%= turbo_stream.replace "attestations-result" do %>
  <div class="fr-callout" id="attestations-result-wrapper">
    <p class="fr-callout__title">
      <%= @attestation_facade.entreprise.raison_sociale %>
    </p>
    <p>
      <strong><%= t('.title.company_type') %></strong>
      <%= @attestation_facade.entreprise.forme_juridique %>
    </p>
    <p>
      <strong><%= t('.title.company_category') %></strong>
      <%= @attestation_facade.entreprise.categorie_entreprise %>
    </p>
    <p>
      <strong><%= t('.title.naf_code') %></strong>
      <%= "#{@attestation_facade.entreprise.naf_entreprise} - #{@attestation_facade.entreprise.libelle_naf_entreprise}" %>
    </p>

    <% if @jwt_facade.attestations_roles.map(&:code).include? 'attestations_sociales' %>
      <%= link_to @attestation_facade.attestation_sociale_url, { class: "fr-btn", target: "_blank" } do %>
        <span class="fr-fi-download-line" aria-hidden="true"></span>
        &nbsp;
        <%= "#{t('.attestation_sociale')} (PDF)" %>
      <% end %>
    <% end %>

    <% if @jwt_facade.attestations_roles.map(&:code).include? 'attestations_fiscales' %>
      <%= link_to @attestation_facade.attestation_fiscale_url, { class: "fr-btn", target: "_blank" } do %>
        <span class="fr-fi-download-line" aria-hidden="true"></span>
        &nbsp;
        <%= "#{t('.attestation_fiscale')} (PDF)" %>
      <% end %>
    <% end %>
  </div>
<% end %>
