<div class="banner fr-pt-10v fr-pb-10v">
  <h1><%= t('.title') %>&nbsp;🛠</h1>
  <div class="fr-search-bar fr-search-bar--lg fr-mb-8v" id="search-2" role="search">
    <label class="fr-label" for="search-787-input">
      <%= t('.search') %>
    </label>
    <input class="fr-input" placeholder="Rechercher" type="search" id="search-787-input" name="search-787-input">
    <button class="fr-btn">
      <%= t('.search') %>
    </button>
  </div>

  <div class="links">
    <%= link_to developers_path, class: "fr-link fr-text--lg fr-m-2v" do %>
      <%= t('.link_return') %>&nbsp;<span class="fr-icon-arrow-go-back-line" aria-hidden="true"></span>
    <% end %>
  </div>
</div>
