<% extra_classes ||= '' %>

<div class="use-cases <%= extra_classes %>">
  <h2 class="fr-h3 fr-mb-2v" id="<%= id %>">
    <%= t('.title') %>
  </h2>

  <h3 class="fr-h6 fr-pt-2w fr-mb-1v">
    <%= t('.format.title') %>
  </h3>

  <div>
    Donnée structurée JSON
  </div>

  <h3 class="fr-h6 fr-pt-4w fr-mb-1v">
    <%= t('.parameters.title', count: @endpoint.parameters.count) %>
  </h3>

  <ul>
    <% @endpoint.parameters.each do |parameter| %>
      <li>
        <%= parameter %>
      </li>
    <% end %>
  </ul>
  <a class="fr-link fr-fi-arrow-down-line fr-link--icon-right" title="Détails des modalités d'appel" href="#parameters_details">
  <%= t('.parameters.link') %>
 </a>


  <h3 class="fr-h6 fr-pt-4w fr-mb-1v">
    <%= t('.availability.title') %>
  </h3>
  <% if @endpoint.ping_url %>
    <div class="fr-pb-1w">
      <%= t('.availability.real_time') %> : <span class="api-status api-status-<%= @endpoint.api_status %>"></span>
    </div>
  <% end %>
  <a class="fr-pt-1v fr-link" title="API Entreprise Status Page" href="https://statut.api.gouv.fr/history/api-particulier" target="_blank">
    <%= t('.availability.link') %>
  </a>
  <div class="fr-pt-1w">
    <% if @endpoint.maintenances.present? %>
      <%= t('.availability.maintenance', from_hour: @endpoint.maintenances['from_hour'], to_hour: @endpoint.maintenances['to_hour']) %>
    <% else %>
      <%= t('.availability.no_maintenance') %>
    <% end %>
  </div>

  <h3 class="fr-h5 fr-pt-4w">
    <%= t('.technical_specifications.title') %>
  </h3>

  <%= link_to t('.technical_specifications.cta'), developers_openapi_path(anchor: @endpoint.redoc_anchor), data: { turbo: false }, class: %(fr-btn fr-btn--icon-right fr-icon-arrow-right-line) %>
</div>
