<div class="fr-col-xs-12 fr-col-sm-6 fr-col-lg-3 fr-p-2v" id="<%= dom_id(endpoint) %>">
  <article class="endpoint-card fr-grid-card">
    <header class="fr-grid-row fr-grid-row--gutters fr-grid-row--start">
      <div class="fr-col-8">
        <h3 class="fr-h5" data-algolia-search-catalogue-hit-attribute="title">
          <%= endpoint.title %>
        </h3>
      </div>

      <div class="fr-col-4">
        <% endpoint.providers.each do |provider| %>
          <%= image_tag(provider.image_path, class: %w(provider)) %>
        <% end %>
      </div>
    </header>

    <section class="body">
      <div class="description fr-text--sm fr-mb-0">
        <%= endpoint.description %>
      </div>
    </section>

    <footer>
      <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-md fr-mt-1w">
        <li>
          <%= link_to t('.cta.swagger'), developers_openapi_path(anchor: endpoint.redoc_anchor), data: { turbo: false }, class: %(fr-btn fr-btn--secondary) %>
        </li>

        <li>
          <%= link_to t('.cta.documentation'), endpoint_path(uid: endpoint.uid), class: %(fr-btn) %>
        </li>
      </ul>
    </footer>
  </article>
</div>
