<h3 id="list-api"><%= t('.title') %></h3>

<div id="table-api" class="fr-table">
  <table>
    <caption><%= @data[:name] %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t('.col_endpoint') %></th>
        <th scope="col"><%= t('.col_useful').html_safe %></th>
        <th scope="col"><%= t('.col_opening') %></th>
        <th scope="col"><%= t('.col_links') %></th>
        <th scope="col"><%= t('.col_comments') %></th>
      </tr>
    </thead>
    <tbody>
      <% Endpoint.all.each do |endpoint| %>
        <tr>
          <td>
            <strong><%= endpoint.providers.map(&:name).join(' & ') %></strong><br />
            <%= endpoint.title %><br />
          </td>
          <td>
            <% if endpoint.use_cases&.include?(@data[:name]) %>
            ✅
            <% elsif endpoint.use_cases_optional&.include?(@data[:name]) %>
            *️⃣
            <% elsif endpoint.use_cases_forbidden&.include?(@data[:name]) %>
            ❌
            <% else %>
            -
            <% end %>
          </td>
          <td>
            <%= icon(t("endpoint.opening.#{endpoint.opening}.icon", raise: true)) rescue nil %>
            <%= t("endpoint.opening.#{endpoint.opening}.name") %>
          </td>
          <td>
            <%= link_to t('.documentation'), "#{endpoints_path}/#{endpoint.uid}" %><br/>
            <%= link_to t('.swagger'), "#{developers_openapi_path}##{endpoint.redoc_anchor}" %>
          </td>
          <td>
            <%= markdown_to_html(@data[:comments_endpoints].try(:[], endpoint.uid.to_sym)) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
