<div id="table-api" class="fr-table fr-table--no-caption">
  <table style="height:450px">
  <caption>Liste des données utiles pour le cas d'usage <%= @data[:name] %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t('.col_endpoint') %></th>
        <th scope="col"><%= t('.col_useful').html_safe %></th>
        <th scope="col"><%= t('.col_opening') %></th>
        <th scope="col"><%= t('.col_call_id') %></th>
        <th scope="col"><%= t('.col_comments') %></th>
        <th scope="col"><%= t('.col_links') %></th>
      </tr>
    </thead>
    <tbody>
      <% Endpoint.without_forbidden_use_case(@data[:name]).each do |endpoint| %>
        <tr>
          <td>
            <strong><%= endpoint.providers.map(&:name).join(' & ') %></strong><br />
            <%= endpoint.title %><br />
          </td>
          <td>
            <% if endpoint.use_cases&.include?(@data[:name]) %>
            ✅
            <% elsif endpoint.use_cases_optional&.include?(@data[:name]) %>
            *️⃣
            <% else %>
            -
            <% end %>
          </td>
          <td>
            <%= icon(t("api_entreprise.endpoint.opening.#{endpoint.opening}.icon", raise: true)) rescue nil %>
            <%= t("api_entreprise.endpoint.opening.#{endpoint.opening}.name") %>
          </td>
          <td>
            <%= icon(t("api_entreprise.endpoint.call_id.#{endpoint.call_id}.icon", raise: true)) rescue nil %>
            <%= t("api_entreprise.endpoint.call_id.#{endpoint.call_id}") %>
          </td>
          <td>
            <%= markdown_to_html(@data[:comments_endpoints].try(:[], endpoint.uid.to_sym)) %>
          </td>
          <td>
            <%= link_to t('.documentation'), "#{endpoints_path}/#{endpoint.uid}" %><br/>
            <%= link_to t('.swagger'), "#{developers_openapi_path}##{endpoint.redoc_anchor}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
