<div id="cas-usage" class="fr-container--fluid">
  <div class="banner"></div>

  <div class="fr-container doc_markdown_to_html" data-controller="anchor-buttons" data-anchor-buttons-tags-value='["h2", "h3", "h4", "section"]'>
    <section class="introduction fr-grid-row fr-background-default-white">
      <div class="introduction_image fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-2 fr-col-xl-2">
        <%= image_tag("api_entreprise/cas_usages/pictos/#{params[:uid]}.svg", alt: params[:uid]) %>
      </div>
      <div class="introduction_text fr-col-xs-12 fr-col-sm-12 fr-col-md-12 fr-col-lg-10 fr-col-xl-10">
        <label class="introduction_text--label"><%= t('.label') %></label>
        <h2 class="introduction_text--title fr-mt-1v"><%= @data[:introduction][:title] %></h2>
        <div class="introduction_text--content"><%= markdown_to_html(@data[:introduction][:content]) %></div>
        <div class="introduction_text--links">
          <%= link_to t('.link_access'), anchor: 'request-access' %><span class="icon fr-icon-arrow-down-line fr-mr-3w" aria-hidden="true"></span>
          <%= link_to t('.link_list_api'), anchor: 'list-api' %><span class="icon fr-icon-arrow-down-line" aria-hidden="true"></span>
        </div>
      </div>
    </section>

    <section class="role fr-background-grey">
      <h3 class=role--title" id="<%= @data[:role][:anchor] %>"><%= @data[:role][:title] %></h3>
      <div class=role--content"><%= markdown_to_html(@data[:role][:content]) %></div>
    </section>

    <section class="fr-background-default-white">
      <%= render partial: 'api_entreprise/cas_usages/list-api', locals: {current_use_case: params[:uid]} %>
    </section>

    <section class="users fr-background-grey">
      <h3 class=users--title" id="<%= @data[:users][:anchor] %>"><%= @data[:users][:title] %></h3>
      <div class=users--content"><%= markdown_to_html(@data[:users][:content]) %></div>
    </section>

    <section class="request_access fr-background-default-white">
      <h3 id="request-access" class=request_access--title"><%= t('.request_access.title') %></h3>
      <div class=request_access--content"><%= t('.request_access.description') %></div>
      <a href="<%= @data[:link_datapass] %>" class="fr-btn fr-mt-10v fr-mb-4w"><%= t('.request_access.link')%><span class="fr-text--bold fr-ml-1v"><%= @data[:name] %></span></a>
      <div class=request_access--content"><%= markdown_to_html(@data[:request_access][:content]) %></div>
    </section>

    <section class="other-use-cases fr-background-grey">
      <%= render partial: 'api_entreprise/cas_usages/others', locals: {current_use_case: params[:uid].to_sym} %>
    </section>
  </div>
</div>
