<div>
  <%= authorization_request_status_badge(authorization_request) %>
  <% if authorization_request.demarche.present? %>
    <span class="fr-badge fr-text--xs">
      <i class="fr-icon-attachment-line fr-icon--sm fr-pr-1v" aria-hidden="true"></i>
      <%= authorization_request.demarche %>
    </span>
  <% end %>
  <h1 class="fr-h2 fr-mb-n0-5v"><%= authorization_request.intitule %></h1>
</div>
<div>
  <span class="fr-text--xs">
    <b><%= t('.delivered_at', humanized_date: friendly_format_from_timestamp(authorization_request.created_at)) %></b>
    -
    <% if to_datapass %>
    <%= link_to t('.links.to_datapass', external_id: authorization_request.external_id).html_safe,
      datapass_authorization_request_url(authorization_request),
      id: :authorization_request_link,
      class: %w(fr-link fr-text--xs),
      target: '_blank'
    %>
    <% else %>
      <span> <%= t('.links.to_datapass', external_id: authorization_request.external_id).html_safe %></span>
    <% end %>
  </span>
</div>
