<div class="fr-card fr-card--no-arrow token-card">
  <div id="habilitation_main_info" class="fr-card__body">
    <div id="habilitation_main_info" class="fr-card__content">
      <div class="fr-card__title">
        <%= authorization_request_status_badge(@authorization_request) %>

        <% if @authorization_request.demarche.present? %>
          <span class="fr-badge fr-text--xs">
            <i class="fr-icon-attachment-line fr-icon--sm fr-pr-1v" aria-hidden="true"></i>
            <%= @authorization_request.demarche %>
          </span>
        <% end %>

        <h2 class="fr-h3 fr-mb-n0-5v"><%= @authorization_request.intitule %></h3>
      </div>
      <div class="fr-card__desc">
        <span class="fr-text--xs">
          <b><%= t('.delivered_at', humanized_date: friendly_format_from_timestamp(@authorization_request.created_at)) %></b>
          - 
          <%= link_to t('.links.to_datapass', external_id: @authorization_request.external_id).html_safe, 
            datapass_authorization_request_url(@authorization_request), 
            id: :authorization_request_link,
            class: %w(fr-link fr-text--xs), 
            target: '_blank' 
          %>
        </span>
      </div>
    </div>

    <div id="habilitation_main_token_infos" class="fr-card__content">
      <div class="fr-card__title">
        <h2 class="fr-h3 fr-mb-n0-5v">
          <%= t('.main_token.title') %>
        </h2>
      </div>
      <div class="fr-card__desc">
        <div class="fr-pb-2v">
          <p class="fr-badge fr-badge--<%= t(".tokens.status.color.#{@main_token.status}") %>">
            <%= t(".tokens.status.label.#{@main_token.status}") %>
          </p>
          <span class="fr-text--xs">
            idenfitiant: <%= @main_token.id %>
          </span>
          <span class="fr-text--m fr-text--bold uppercase">
            | <%= t('.main_token.call_for_a_week', count: @main_token.access_logs.since(7.days.ago).count) %>
          </span>
        </div>
        <p>
          <%= t(".main_token.remaining_time.#{@main_token.status}", 
                remaining_time: distance_of_time_in_words(Time.zone.now, @main_token.exp)
            ).html_safe %>
        </p>
        <div class="progress-bar-light-grey progress-bar-round">
          <div 
            class="progress-bar-container progress-bar-round progress-bar-<%= @main_token.progress_bar_color %>" 
            style="width:<%= @main_token.passed_time_as_ratio %>%">
          </div>
        </div> 
        <span class=""><%= friendly_format_from_timestamp(@main_token.created_at)%></span>
        <span class="pull-right"><%= friendly_format_from_timestamp(@main_token.exp)%></span>
      </div>
    </div>
  </div>
</div>
