<div class="fr-card fr-card--no-arrow token-card">
  <div id="habilitation_main_info" class="fr-card__body">
    <div id="habilitation_main_info" class="fr-card__content">
      <div class="fr-card__title">
        <%= authorization_request_status_badge(@authorization_request) %>

        <% if @authorization_request.demarche.present? %>
          <span class="fr-badge fr-text--xs">
            <i class="fr-icon-attachment-line fr-icon--sm fr-pr-1v" aria-hidden="true"></i>
            <%= @authorization_request.demarche %>
          </span>
        <% end %>

        <h2 class="fr-h3 fr-mb-n0-5v"><%= @authorization_request.intitule %></h3>
      </div>
      <div class="fr-card__desc">
        <span class="fr-text--xs">
          <b><%= t('.delivered_at', humanized_date: friendly_format_from_timestamp(@authorization_request.created_at)) %></b>
          - 
          <%= link_to t('.links.to_datapass', external_id: @authorization_request.external_id).html_safe, 
          datapass_authorization_request_url(@authorization_request), 
          id: :authorization_request_link,
          class: %w(fr-link fr-text--xs), 
          target: '_blank' 
        %>
        </span>
      </div>
    </div>

    <div id="habilitation_main_token_infos" class="fr-card__content">
      <div class="fr-card__title">
        <h2 class="fr-h3 fr-mb-n0-5v">
          <%= t('.main_token.title') %>
        </h2>
      </div>
      <div class="fr-card__desc">
        <%= render partial: 'shared/tokens/detail', 
          locals: {
            token: @main_token,
          }
        %>
        <% @banned_tokens.each do |banned_token| %>
          <%= render partial: 'shared/tokens/detail', 
            locals: {
              token: banned_token,
            }
          %>
        <% end %>
        <ul class="fr-btns-group--right fr-btns-group--inline-sm fr-btns-group--inline-reverse fr-btns-group--icon-right">
          <% if @token_facade.can_show_technical_user_modal? %>
            <li>
              <button id="<%= dom_id(@main_token, :token_show_technical_user_modal_button) %>" class="fr-btn fr-btn--secondary" data-fr-opened="false" aria-controls="<%= dom_id(@main_token, :token_show_technical_user_modal) %>">
                <%= t('.modal.token_show_technical_user.display_cta') %>
                <i class="fr-icon-eye-fill fr-icon--sm fr-pl-1v" aria-hidden="true"></i>
              </button>
            </li>
          <% end %>
          <% if @token_facade.can_show_extend_token_modal %>
            <li>
              <button id="<%= dom_id(@main_token, :extend_token_modal_button) %>" class="fr-btn" data-fr-opened="false" aria-controls="<%= dom_id(@main_token, :extend_token_modal) %>">
                <%= t('.modal.extend.display_cta') %>
                <i class="fr-icon-arrow-right-line fr-icon--sm fr-pl-1v" aria-hidden="true"></i>
              </button>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% if @token_facade.can_show_extend_token_modal %>
  <dialog aria-labelledby="fr-modal-2-title" id="<%= dom_id(@main_token, :extend_token_modal) %>" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-modal__body">
            <div class="fr-modal__header">
              <button class="fr-link--close fr-link" aria-controls="<%= dom_id(@main_token, :extend_token_modal) %>">Fermer</button>
            </div>
            <div class="fr-modal__content">
              <h1 id="<%= dom_id(@main_token, :extend_token_modal_title) %>" class="fr-modal__title">
                <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                <%= t('.modal.extend.title') %>
              </h1>
              <p>
              <%= t('.modal.extend.description',
                    link_to_datapass: link_to(
                      t('.links.to_datapass', external_id: @authorization_request.external_id).html_safe, 
                      datapass_authorization_request_url(@authorization_request), 
                      id: :authorization_request_link,
                      class: %w(fr-link), 
                      target: '_blank'),
                    remaining_time: distance_of_time_in_words(Time.zone.now, @main_token.end_timestamp)
                    ).html_safe %>
              </p>

              <p class="fr-mb-1v"><strong><%= t('.modal.extend.warning_description') %></strong></p>
              <blockquote class="fr-highlight fr-highlight--caution fr-m-0">
                <p><%= t('.modal.extend.warning').html_safe %></p>
              </blockquote>
            </div>
            <div class="fr-modal__footer">
              <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-right">
                <li>
                  <%= link_to( t('.modal.extend.cta'), datapass_extend_authorization_request_url, id: :extend_form_link, class: "fr-btn fr-icon-arrow-right-line") %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>
<% end %>

<% if @token_facade.can_show_technical_user_modal? %>
  <dialog aria-labelledby="fr-modal-2-title" id="<%= dom_id(@main_token, :token_show_technical_user_modal) %>" class="fr-modal" data-controller="clipboard" data-clipboard-alert-message-value="<%= t('commons.copy_token_success_message') %>">
    <div class="fr-container fr-container--fluid fr-container-md">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-modal__body">
            <div class="fr-modal__header">
              <button class="fr-link--close fr-link" aria-controls="<%= dom_id(@main_token, :token_show_technical_user_modal) %>">Fermer</button>
            </div>
            <div class="fr-modal__content">
              <h1 id="<%= dom_id(@main_token, :token_show_technical_user_title) %>" class="fr-modal__title">
                <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                <%= t('.modal.token_show_technical_user.title') %>
              </h1>
              <blockquote class="fr-highlight fr-highlight--caution fr-m-0">
                <p><%= t('.modal.token_show_technical_user.warning').html_safe %></p>
              </blockquote>
              <p class="fr-mb-1v">
                  <%= t('.modal.token_show_technical_user.token_label', token_id: @main_token.id).html_safe %>
                  <input id="<%= dom_id(@main_token, :token_hash) %>" class="fr-input" type="text" data-clipboard-target="source" readonly value="<%= @main_token.rehash %>" />
              </p>
            </div>

            <div class="fr-modal__footer">
              <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                <li>
                  <%= button_tag class: 'fr-btn fr-icon-window-fill fr-btn--icon-right', id: dom_id(@main_token, :copy_token_button), data: { action: 'click->clipboard#copy' } do %>
                    <%= t('.modal.token_show_technical_user.cta') %>
                  <% end %>
                </li>
                <li>
                  <button id="<%= dom_id(@main_token, :transfer_modal_button) %>" class="fr-btn fr-btn--secondary" data-fr-opened="false" aria-controls="<%= dom_id(@main_token, :transfer_modal) %>">
                    <%= t('.modal.transfer.display_cta') %>
                    <i class="ri-mail-lock-line fr-pl-1v" aria-hidden="true"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </dialog>

  <dialog aria-labelledby="fr-modal-2-title" id="<%= dom_id(@main_token, :transfer_modal) %>" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
      <div class="fr-grid-row fr-grid-row--center">
        <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
          <div class="fr-modal__body">
            <div class="fr-modal__header">
              <button class="fr-link--close fr-link" aria-controls="<%= dom_id(@main_token, :transfer_modal) %>">Fermer</button>
            </div>

            <%= form_with url: token_create_magic_link_path(@main_token), method: :post, id: dom_id(@main_token, :magic_link) do |form| %>
              <div class="fr-modal__content">
                <h1 id="<%= dom_id(@main_token, :transfer_modal_title) %>" class="fr-modal__title">
                  <span class="fr-icon-arrow-right-line fr-icon--lg"></span>
                  <%= t('.modal.transfer.title') %>
                </h1>
                <p><%= t('.modal.transfer.description').html_safe %></p>

                <div class="fr-input-group">
                  <%= form.label :email, t('.modal.transfer.email.label'), class: %w(fr-label) %>
                  <%= form.email_field :email, placeholder: t('.modal.transfer.email.placeholder'), class: %w(fr-input) %>
                </div>
              </div>

              <div class="fr-modal__footer">
                <ul class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                  <li>
                    <%= form.button t('.modal.transfer.cta'), data: { confirm: t('.modal.transfer.confirm') }, class: %w(fr-btn fr-icon-checkbox-line) %>
                  </li>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </dialog>
<% end %>
