<div class="fr-card fr-card--no-arrow token-card">
  <div id="habilitation_main_info" class="fr-card__body">
    <div id="habilitation_main_info" class="fr-card__content">
      <div class="fr-card__title">
        <%= authorization_request_status_badge(@authorization_request) %>

        <% if @authorization_request.demarche.present? %>
          <span class="fr-badge fr-text--xs">
            <i class="fr-icon-attachment-line fr-icon--sm fr-pr-1v" aria-hidden="true"></i>
            <%= @authorization_request.demarche %>
          </span>
        <% end %>

        <h2 class="fr-h3 fr-mb-n0-5v"><%= @authorization_request.intitule %></h3>
      </div>
      <div class="fr-card__desc">
        <span class="fr-text--xs">
          <b><%= t('.delivered_at', humanized_date: friendly_format_from_timestamp(@authorization_request.created_at)) %></b>
          - 
          <%= link_to t('.links.to_datapass', external_id: @authorization_request.external_id).html_safe, 
            datapass_authorization_request_url(@authorization_request), 
            id: :authorization_request_link,
            class: %w(fr-link fr-text--xs), 
            target: '_blank' 
          %>
        </span>
      </div>
    </div>

    <div id="habilitation_main_token_infos" class="fr-card__content">
      <div class="fr-card__title">
        <h2 class="fr-h3 fr-mb-n0-5v">
          <%= t('.main_token.title') %>
        </h2>
      </div>
      <div class="fr-card__desc">
        <%= render partial: 'shared/tokens/detail', 
          locals: {
            token: @main_token,
          }
        %>
        <% @banned_tokens.each do |banned_token| %>
          <%= render partial: 'shared/tokens/detail', 
            locals: {
              token: banned_token,
            }
          %>
        <% end %>
        <ul class="fr-btns-group--right fr-btns-group--inline-sm fr-btns-group--inline-reverse fr-btns-group--icon-right">
          <% if @token_facade.can_show? %>
            <li>
              <a 
                href="<%= token_path(id: @main_token.id) %>" 
                id="show-token-modal-link"
                class="fr-btn fr-btn--secondary fr-icon-eye-fill fr-btn--icon-right fr-mt-2w" 
                aria-controls="main-modal" 
                data-fr-opened="false" 
                data-turbo-frame="main-modal-content"
              >
                <%= t('.modal.content.display_cta') %>
              </a>
            </li>
          <% end %>
          <% if @token_facade.can_prolong_token? %>
            <li>
              <a 
                href="<%= token_prolong_path(id: @main_token.id) %>" 
                id="prolong-token-modal-link"
                class="fr-btn fr-icon-arrow-right-line fr-btn--icon-right fr-mt-2w" 
                aria-controls="main-modal" 
                data-fr-opened="false" 
                data-turbo-frame="main-modal-content"
              >
                <%= t('.modal.prolong.display_cta') %>
              </a>
            </li>
          <% end %>
          <% if @token_facade.can_ask_for_extension? %>
            <li>
              <a 
                href="<%= token_ask_for_extension_path(id: @main_token.id) %>" 
                id="ask-for-extension-token-modal-link"
                class="fr-btn fr-icon-arrow-right-line fr-btn--icon-right fr-mt-2w" 
                aria-controls="main-modal" 
                data-fr-opened="false" 
                data-turbo-frame="main-modal-content"
              >
                <%= t('.modal.ask_for_extension.display_cta') %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
