<section id="section-partners" class="fr-p-6w">
  <div class="fr-container">
    <div class="fr-grid-row provider-container">
      <h3 class="fr-ml-2v fr-col-12"><%= t('.title').html_safe %></h3>
      <p class="fr-ml-2v fr-col-12"><%= t('.subtitle') %></p>

      <div class="providers">
        <% @providers.each do |provider| %>
          <a href="<%= provider.link %>" target="_blank" class="card-provider fr-m-2v fr-pt-2w fr-pr-2w fr-pl-2w">
            <%= image_tag("providers/#{provider.slug}.png") %>
            <h5 class="fr-pt-1v fr-pb-1v center"><%= provider.name %></h5>
          </a>
        <% end %>
      </div>

      <div class="buttons fr-mt-3w">
        <%= link_to endpoints_path, class: "fr-btn fr-m-1w" do %>
          <%= t('.link_endpoints') %>&nbsp;<span class="fr-icon-arrow-right-line" aria-hidden="true" />
        <% end %>

        <button class="fr-btn fr-btn--secondary fr-m-1w" disabled><%= t('.link_new_api') %></button>
      </div>
    </div>
  </div>
</section>
