<div id="homepage">
  <%= render 'shared/pages/home_alerts' %>
  <%= render 'api_particulier/pages/home/section_welcome' %>
  <%= render 'api_particulier/pages/home/section_access' %>
  <%= render partial: 'api_particulier/pages/newsletter/main' %>
  <%= render 'api_particulier/pages/home/section_partners' %>
  <%= render 'api_particulier/pages/home/section_developers' %>
</div>
