<div id="homepage">
  <%= render 'api_particulier/pages/home/section_welcome' %>
  <%= render 'api_particulier/pages/home/section_access' %>
  <%# <%= render 'api_particulier/pages/home/section_use_cases' %>
  <%= render 'api_particulier/pages/home/section_partners' %>
  <%= render 'api_particulier/pages/home/section_developers' %>
</div>
