<h1>
  <%= t('.title') %>
</h1>

<ul>
  <li>
    <%= t('.email_address', email: @user.email) %>
  </li>
  <li>
    <%= t('.siret', context: @user.context) %>
  </li>
</ul>

<div class="fr-grid-row">
  <div class="fr-col-md-3 fr-col-12">
    <%= form_with url: user_transfer_account_path, method: :post, id: :transfer_account do |form| %>
      <div class="fr-input-group">
        <%= form.label :email, t('.transfert_account.email.label'), class: %w(fr-label) %>
        <%= form.email_field :email, placeholder: t('.transfert_account.email.placeholder'), class: %w(fr-input) %>
      </div>

      <%= form.button t('.transfert_account.cta'), data: { confirm: t('.transfert_account.confirm') }, class: %w(fr-btn) %>
    <% end %>
  </div>
</div>
