<div id="<%= "property_#{kind}_#{key}" %>" class="attribute fr-mb-3w">
  <div class="fr-mb-1w">
    <div class="fr-tag fr-text--bold">
      <%= properties['title'] || key.humanize %>
    </div>
    <% if properties['example'] %>

      <span class="fr-ml-2w fr-ml-md-0 fr-text--regular fr-text--alt">
        <%= t('.example.label') %>
        <%= properties['example'] %>
      </span>
    <% end %>
  </div>

  <div class="fr-pl-2w">
    <% if properties['description'] %>
      <div class="description fr-highlight--beige-gris-galet fr-text--sm">
        <%= simple_format(properties['description'], {}, wrapper_tag: 'div') %>
      </div>
    <% end %>

    <% if properties['type'] == 'object' %>
      <div class="sub-properties fr-mt-1w">
        <% properties['properties'].each do |sub_key, sub_properties| %>
          <%=
            render partial: 'property', locals: {
              key: sub_key,
              kind: key,
              properties: sub_properties
            }
          %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
