<% extra_classes ||= '' %>

<div class="details <%= extra_classes %>">
  <h3 id="<%= id %>">
    <%= t('.title') %>
  </h3>

  <div>
    <%= t('.description') %>
  </div>

  <ul class="fr-tags-group fr-mt-2w">
    <% if @endpoint.use_cases %>
      <% @endpoint.use_cases.each do |use_case| %>
        <li class="fr-mb-1w fr-tag">
          <%= use_case %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
