<% layout_main_bloc = 8 %>
<article id="<%= dom_id(@endpoint) %>" class="endpoint">
  <h1>
    <%= @endpoint.title %>
  </h1>

  <div class="fr-grid-row fr-pb-2w">
    <div class="fr-col-md-<%= layout_main_bloc %> fr-col-12">
      <p class="fr-text--lg fr-mt-md-2w">
        <%= @endpoint.description %>
      </p>
    </div>

    <div class="providers fr-col-md-<%= 12 - layout_main_bloc %> fr-col-12">
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
        <div class="fr-col-md-5 fr-col-12 logos">
          <% @endpoint.providers.each do |provider| %>
            <%= image_tag("providers/#{provider}.png") %>
          <% end %>
        </div>

        <div class="text fr-col-md-7 fr-col-12">
          <div class="fr-text--sm fr-mb-2w">
            <%= t('.providers.description', count: @endpoint.providers.count) %>
          </div>

          <h5>
            <% @endpoint.providers.map do |provider| %>
              <%= t("providers.#{provider}") %>
            <% end.join(' & ') %>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <hr class="separator fr-unhidden-md fr-hidden">

  <div class="fr-grid-row">
    <div class="fr-col-md-<%= layout_main_bloc %> fr-col-12 fr-pt-2w fr-mt-md-0 fr-pr-md-2w fr-pr-0">
      <h2 id="perimetre">
        <%= t('.perimeter.title') %>
      </h2>
      <% if @endpoint.perimeter['description'].present? %>
        <div>
          <%= markdown_to_html(@endpoint.perimeter['description']) %>
        </div>
      <% end %>
      <% if @endpoint.perimeter['entity_type_description'].present? %>
        <h6 class="fr-mb-1w fr-mt-3w" id="perimetre_entites_concernees">
          <%= t('.perimeter.entity_type_title') %>
        </h6>

        <div>
          <%= markdown_to_html(@endpoint.perimeter['entity_type_description']) %>
        </div>
      <% end %>
      <% if @endpoint.perimeter['geographical_scope_description'].present? %>
        <h6 class="fr-mb-1w fr-mt-3w" id="perimetre_geographique">
          <%= t('.perimeter.geographical_scope_title') %>
        </h6>

        <div>
          <%= markdown_to_html(@endpoint.perimeter['geographical_scope_description']) %>
        </div>
      <% end %>
      <% if @endpoint.perimeter['updating_rules_description'].present? %>
        <h6 class="fr-mb-1w fr-mt-3w" id="perimetre_regles_mise_a_jour">
          <%= t('.perimeter.updating_rules_title') %>
        </h6>

        <div>
          <%= markdown_to_html(@endpoint.perimeter['updating_rules_description']) %>
        </div>
      <% end %>
      <% if @endpoint.perimeter['know_more_description'].present? %>
        <h6 class="fr-mb-1w fr-mt-3w" id="perimetre_en_savoir_plus">
          <%= t('.perimeter.know_more_title') %>
        </h6>

        <div>
          <%= markdown_to_html(@endpoint.perimeter['know_more_description']) %>
        </div>
      <% end %>

      <%= render partial: 'use_cases', locals: { id: 'use_cases_mobile', extra_classes: 'fr-hidden-md' } %>
      <%= render partial: 'details', locals: { id: 'use_cases_mobile', extra_classes: 'fr-mb-3w fr-hidden-md' } %>

      <% if @endpoint.data.present? && @endpoint.data['description'].present? %>
        <h2 id="donnees" class="fr-mt-md-5w">
          <%= t('.data.title') %>
        </h2>

        <div>
          <%= markdown_to_html(@endpoint.data['description']) %>
        </div>
      <% end %>

      <div class="fr-my-2w">
        <a href="<%= endpoint_example_path(uid: @endpoint.uid) %>" id="example_link" class="fr-btn fr-btn--secondary fr-fi-eye-line fr-btn--icon-left fr-mt-2w" aria-controls="main-modal" data-fr-opened="false" data-turbo-frame="main-modal-content">
          Voir un exemple de réponse
        </a>
      </div>

      <h6 id="donnees_attributs" class="fr-mb-1w fr-mt-3w">
        <%= t('.attributes.title') %>
      </h6>

      <div class="keep-within-block-mobile">
        <% if @endpoint.collection? %>
          <%=
            render partial: 'property', locals: {
              key: 'type',
              kind: 'attribute',
              properties: @endpoint.collection_types
              }
            %>
        <% end %>

        <% @endpoint.attributes.each do |key, properties| %>
          <%=
            render partial: 'property', locals: {
              key: key,
              kind: 'attribute',
              properties: properties
            }
          %>
        <% end %>
      </div>

      <% if @endpoint.root_links.any? %>
        <h6 id="donnees_racine_liens" class="fr-mb-1w fr-mt-3w">
          <%= t('.root_links.title') %>
        </h6>

        <div class="fr-pb-3w">
          <%= t('.root_links.description') %>
        </div>

        <div class="keep-within-block-mobile">
          <% @endpoint.root_links.each do |key, properties| %>
            <%=
              render partial: 'property', locals: {
                key: key,
                kind: 'link',
                properties: properties
              }
            %>
          <% end %>
        </div>
      <% end %>

      <% if @endpoint.root_meta.any? %>
        <h6 id="donnees_racine_metadonnes" class="fr-mb-1w fr-mt-3w">
          <%= t('.root_meta.title') %>
        </h6>

        <div class="fr-pb-3w">
          <%= t('.root_meta.description') %>
        </div>

        <div class="keep-within-block-mobile">
          <% @endpoint.root_meta.each do |key, properties| %>
            <%=
              render partial: 'property', locals: {
                key: key,
                kind: 'meta',
                properties: properties
              }
            %>
          <% end %>
        </div>
      <% end %>

      <% if @endpoint.faq.any? %>
        <h2 id="faq" class="fr-mt-md-5w">
          <%= t('.faq.title') %>
        </h2>

        <div class="fr-accordions-group">
          <% @endpoint.faq.each_with_index do |faq_entry, index| %>
            <section class="fr-accordion faq-entry" id="<%= dom_id(@endpoint, "faq_entry_#{index}") %>">
              <h3 class="fr-accordion__title">
                <button class="fr-accordion__btn" aria-expanded="false" aria-controls="<%= dom_id(@endpoint, "faq_entry_answer_#{index}") %>">
                  <div>
                    <%= raw faq_entry['question'] %>
                  </div>
                </button>
              </h3>

              <div class="fr-collapse" id="<%= dom_id(@endpoint, "faq_entry_answer_#{index}") %>">
                <%= raw faq_entry['answer'] %>
              </div>
            </section>
          <% end %>
        </div>
      <% end %>

      <h2 id="cgu" class="fr-mt-md-5w">
        <%= t('.cgu.title') %>
      </h2>

      <h6 class="fr-mb-1w fr-mt-3w">
        <%= t('.cgu.main_title_opening') %>
      </h6>

      <div>
        <%= t("endpoint.opening.#{@endpoint.opening}.name", raise: true) %>
      </div>

      <h6 class="fr-mb-1w fr-mt-3w">
        <%= t('.cgu.main_title') %>
      </h6>

      <p>
        Cette API et l’utilisation de ses données est soumise aux CGU générales d’API Entreprise, dont voici les principaux éléments auxquels vous vous engagez :

        <ul>
          <li>
            <strong>ne demander que les données strictement nécessaires</strong> ;
          </li>
          <li>
            <strong>ne pas utiliser votre jeton d’accès pour une démarche différente</strong> de celle indiquée lors de votre demande (le cas échéant le jeton sera révoqué) ;
          </li>
          <li>
            <strong>présenter les données obtenues uniquement aux seuls agents habilités</strong> et à tracer l’accès de ces agents aux données ;
          </li>
          <li>
            <strong>ne pas commercialiser les données</strong> reçues et à ne pas les communiquer à des tiers en dehors des cas prévus par la loi.
          </li>
        </ul>

        L’ensemble des conditions sont consultables et téléchargeables ci-dessous :

        <br />
        <br />

        <%= link_to t('.cgu.cta'), cgu_path, id: 'cgu_link', class: %w(fr-btn fr-btn--secondary fr-btn--icon-right fr-fi-eye-line), data: { turbo_frame: 'main-modal-content', 'fr-opened': 'false' }, 'aria-controls': 'main-modal' %>
      </p>
    </div>

    <div class="fr-col-md-<%= 12 - layout_main_bloc %>">
      <%= render partial: 'use_cases', locals: { id: 'use_cases_desktop', extra_classes: 'fr-hidden fr-unhidden-md' } %>
      <%= render partial: 'details', locals: { id: 'details_desktop', extra_classes: 'fr-hidden fr-unhidden-md' } %>
    </div>
  </div>
</article>
