<% layout_main_bloc = 8 %>
<article id="<%= dom_id(@endpoint) %>" class="endpoint">
  <h1>
    <%= @endpoint.title %>
  </h1>

  <div class="fr-grid-row fr-pb-2w">
    <div class="fr-col-md-<%= layout_main_bloc %> fr-col-12">
      <p class="fr-text--lg fr-mt-md-2w">
        <%= @endpoint.description %>
      </p>
    </div>

    <div class="providers fr-col-md-<%= 12 - layout_main_bloc %> fr-col-12">
      <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
        <div class="fr-col-md-5 fr-col-12 logos">
          <% @endpoint.providers.each do |provider| %>
            <%= image_tag("providers/#{provider}.png") %>
          <% end %>
        </div>

        <div class="text fr-col-md-7 fr-col-12">
          <div class="fr-text--sm fr-mb-2w">
            <%= t('.providers.description', count: @endpoint.providers.count) %>
          </div>

          <h5>
            <% @endpoint.providers.map do |provider| %>
              <%= t("providers.#{provider}") %>
            <% end.join(' & ') %>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <hr class="separator fr-displayed-md fr-hidden">

  <div class="fr-grid-row">
    <div class="fr-col-md-<%= layout_main_bloc %> fr-col-12 fr-pt-2w fr-mt-md-0 fr-pr-md-2w fr-pr-0">
      <h3 id="perimetre">
        <%= t('.perimeter.title') %>
      </h3>
      <div>
        <%= markdown_to_html(@endpoint.perimeter['description']) %>
      </div>

      <%= render partial: 'use_cases', locals: { id: 'use_cases_mobile', extra_classes: 'fr-hidden-md' } %>
      <%= render partial: 'details', locals: { id: 'use_cases_mobile', extra_classes: 'fr-mb-3w fr-hidden-md' } %>

      <h3 id="donnees" class="fr-mt-md-5w">
        <%= t('.data.title') %>
      </h3>

      <div>
        <%= t("endpoint.opening.#{@endpoint.opening}.name", raise: true) %>
      </div>

      <div class="fr-my-2w">
        <a href="#cgu" class="fr-btn fr-btn--secondary fr-btn--icon-right fr-fi-arrow-down-line">
          Conditions d'utilisation des données de cette API
        </a>
      </div>

      <h4 id="donnees_attributs" class="fr-mt-md-5w">
        <%= t('.attributes.title') %>
      </h4>

      <div class="keep-within-block-mobile">
        <% @endpoint.attributes.each do |key, properties| %>
          <%=
            render partial: 'property', locals: {
              key: key,
              kind: 'attribute',
              properties: properties
            }
          %>
        <% end %>
      </div>

      <% if @endpoint.links.any? %>
        <h4 id="donnees_liens" class="fr-mt-md-5w">
          <%= t('.links.title') %>
        </h4>

        <div class="fr-pb-3w">
          <%= t('.links.description') %>
        </div>

        <div class="keep-within-block-mobile">
          <% @endpoint.links.each do |key, properties| %>
            <%=
              render partial: 'property', locals: {
                key: key,
                kind: 'link',
                properties: properties
              }
            %>
          <% end %>
        </div>
      <% end %>

      <% if @endpoint.meta.any? %>
        <h4 id="donnees_metadonnes" class="fr-mt-md-5w">
          <%= t('.meta.title') %>
        </h4>

        <div class="fr-pb-3w">
          <%= t('.meta.description') %>
        </div>

        <div class="keep-within-block-mobile">
          <% @endpoint.meta.each do |key, properties| %>
            <%=
              render partial: 'property', locals: {
                key: key,
                kind: 'meta',
                properties: properties
              }
            %>
          <% end %>
        </div>
      <% end %>

      <h3 id="exemple" class="fr-mt-md-5w">
        <%= t('.example.title') %>
      </h3>

      <div class="keep-within-block code-block">
        <code><%= JSON.pretty_generate(@endpoint.example_payload) %></code>
      </div>

      <h3 id="cgu" class="fr-mt-md-5w">
        <%= t('.cgu.title') %>
      </h3>

      <h5 class="fr-mt-md-5w">
        <%= t('.cgu.main_title') %>
      </h5>

      <p>
        Cette API et l’utilisation de ses données est soumise aux CGU générales d’API Entreprise, dont voici les principaux éléments auxquels vous vous engagez :

        <ul>
          <li>
            <strong>ne demander que les données strictement nécessaires</strong> ;
          </li>
          <li>
            <strong>ne pas utiliser votre jeton d’accès pour une démarche différente</strong> de celle indiquée lors de votre demande (le cas échéant le jeton sera révoqué) ;
          </li>
          <li>
            <strong>présenter les données obtenues uniquement aux seuls agents habilités</strong> et à tracer l’accès de ces agents aux données ;
          </li>
          <li>
            <strong>ne pas commercialiser les données</strong> reçues et à ne pas les communiquer à des tiers en dehors des cas prévus par la loi.
          </li>
        </ul>

        L’ensemble des conditions sont consultables et téléchargeables ci-dessous :

        <br />
        <br />

        <%= link_to t('.cgu.cta'), cgu_path, class: %w(fr-btn fr-btn--secondary fr-btn--icon-right fr-fi-eye-line) %>
      </p>
    </div>

    <div class="fr-col-md-<%= 12 - layout_main_bloc %>">
      <%= render partial: 'use_cases', locals: { id: 'use_cases_desktop', extra_classes: 'fr-hidden fr-displayed-md' } %>
      <%= render partial: 'details', locals: { id: 'details_desktop', extra_classes: 'fr-hidden fr-displayed-md' } %>
    </div>
  </div>
</article>
