<div class="jwt_api_entreprise_tile" id="<%= dom_id(jwt_api_entreprise) %>">
  <h4>Cadre d'utilisation : <%= jwt_api_entreprise.displayed_subject %></h4>

  <p>Délivré le : <%= friendly_format_from_timestamp(jwt_api_entreprise.iat) %></p>
  <p>Expire le : <%= friendly_format_from_timestamp(jwt_api_entreprise.exp) %></p>

  <h5>Accès</h5>
  <ul>
    <% jwt_api_entreprise.roles.pluck(:code).each do |code| %>
      <li><%= code %></li>
    <% end %>
  </ul>

  <h5>Token</h5>
  <p><%= jwt_api_entreprise.rehash %></p>

  <%= button_to 'Transmettre le jeton à mon equipe technique', '#', id: 'magic_link_button' %>
  <%= button_to 'Renouveler ou étendre mes droits', jwt_api_entreprise.renewal_url, id: 'renew_access_button' %>

  <%= link_to 'Aller à la demande DataPass', jwt_api_entreprise.authorization_request_url, id: :authorization_request_link %>
  <%= link_to 'Voir les statistiques', '#' %>
</div>
