<div class="fr-grid-row">
  <% if @token %>
    <div class="fr-col-12 fr-pb-2w">
      <div class="fr-card fr-card--horizontal fr-card--no-arrow">
        <div class="fr-card__body">
          <h4 class="fr-card__title">
            <%= t('.title', title: @token.displayed_subject) %>

            <span class="fr-text--sm fr-m-0 pull-right">
              <%= link_to t('.links.user_tokens'), user_tokens_path, id: :user_tokens_link, class: %w(fr-link fr-link--sm fr-fi-arrow-right-line fr-link--icon-right) %>
            </span>
          </h4>

          <div class="fr-card__desc">
            <ul>
              <li>
                <span><%= t('.details.internal_id', id: @token.id) %></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @stats %>
    <div class="fr-col-12 fr-pb-2w">
      <div class="fr-tabs">
        <ul class="fr-tabs__list" role="tablist" aria-label="stats-for-period-tabs">
          <% %i[last_10_minutes last_30_hours last_8_days].each_with_index do |period, index| %>
            <li role="presentation">
              <button id=<%= "tabpanel-#{period}" %> class="fr-tabs__tab fr-fi-checkbox-line fr-tabs__tab--icon-left" tabindex="<%= index == 0 ? '0' : '-1' %>" role="tab" aria-selected="<%= (@period == period) ? "true" : "false" %>" aria-controls="<%= "tabpanel-#{period}-panel" %>">
                <%= t(".tabs.#{period}") %>
              </button>
            </li>
          <% end %>
        </ul>

        <% %i[last_10_minutes last_30_hours last_8_days].each do |period| %>
          <div id=<%= "tabpanel-#{period}-panel" %> class="fr-tabs__panel <%= (@period == period) ? 'fr-tabs__panel--selected' : '' %>" role="tabpanel" aria-labelledby="<%= "tabpanel-#{period}" %>" tabindex="0">
            <div class="fr-table fr-table--layout-fixed">
              <table id=<%= "calls_ratio_#{period}" %>>
                <caption><%= t('.calls_ratio.title') %></caption>
                <thead>
                  <tr>
                    <th scope="col"><%= t('.calls_ratio.name_header') %></th>
                    <th scope="col"><%= t('.calls_ratio.total_header') %></th>
                    <th scope="col"><%= t('.calls_ratio.success_header') %></th>
                    <th scope="col"><%= t('.calls_ratio.not_found_header') %></th>
                    <th scope="col"><%= t('.calls_ratio.invalid_params_header') %></th>
                    <th scope="col"><%= t('.calls_ratio.error_fd_header') %></th>
                  </tr>
                </thead>
                <tbody>
                  <% @stats[period].each do |endpoint_details| %>
                    <tr>
                      <td><%= endpoint_details[:name] %></td>
                      <td><%= endpoint_details[:total] %></td>
                      <td><%= endpoint_details[:percent_success] %> %</td>
                      <td><%= endpoint_details[:percent_not_found] %> %</td>
                      <td><%= endpoint_details[:percent_other_client_errors] %> %</td>
                      <td><%= endpoint_details[:percent_server_errors] %> %</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="fr-col-12 fr-pb-2w">
      <div class="fr-table fr-table--layout-fixed">
        <table id="requests_details">
          <caption><%= t('.requests_details.title') %></caption>
          <thead>
            <tr>
              <th scope="col"><%= t('.requests_details.endpoint_header') %></th>
              <th scope="col"><%= t('.requests_details.parameters_header') %></th>
              <th scope="col"><%= t('.requests_details.http_code_header') %></th>
            </tr>
          </thead>
          <tbody>
            <% @stats[:last_requests].each do |request_details| %>
              <tr>
                <td><%= request_details[:url] %></td>
                <td><%= request_details[:params].to_s %></td>
                <td><%= request_details[:code] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
