<div id="cas-usages" class="fr-container--fluid">
  <div class="banner fr-pt-5w fr-pb-8w">
    <div class="fr-container">
      <h1><%= t('.title') %></h1>

      <p><%= t('.description').html_safe %></p>
    </div>
  </div>

  <div class="content fr-container fr-mt-5w fr-mb-5w">
    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h4 class="fr-card__title">
            <%= link_to t('.cards.marche_public.title'), cas_usages_marches_publics_path %>
          </h4>
          <p class="fr-card__desc fr-text--lead"><%= t('.cards.marche_public.description') %></p>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <%= image_tag("home/pictos/marches_publics.svg", class: %w(card-image fr-responsive-img), alt: "Marchés publics") %>
        </div>
      </div>
    </div>

    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h4 class="fr-card__title">
            <%= link_to t('.cards.subventions.title'), cas_usages_subventions_path %>
          </h4>
          <p class="fr-card__desc fr-text--lead"><%= t('.cards.subventions.description') %></p>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <%= image_tag("home/pictos/subventions.svg", class: %w(card-image fr-responsive-img), alt: "Subventions") %>
        </div>
      </div>
    </div>

    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h4 class="fr-card__title">
            <%= link_to t('.cards.fraud.title'), cas_usages_fraude_path %>
          </h4>
          <p class="fr-card__desc fr-text--lead"><%= t('.cards.fraud.description') %></p>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <%= image_tag("home/pictos/fraude.svg", class: %w(card-image fr-responsive-img), alt: "Détection fraude") %>
        </div>
      </div>
    </div>

    <div class="fr-card fr-enlarge-link">
      <div class="fr-card__body">
        <div class="fr-card__content">
          <h4 class="fr-card__title">
            <%= link_to t('.cards.form.title'), cas_usages_formulaire_path %>
          </h4>
          <p class="fr-card__desc fr-text--lead"><%= t('.cards.form.description') %></p>
        </div>
      </div>
      <div class="fr-card__header">
        <div class="fr-card__img">
          <%= image_tag("home/pictos/formulaire.svg", class: %w(card-image fr-responsive-img), alt: "Préremplissage public") %>
        </div>
      </div>
    </div>
  </div>
</div>
