<div id="developers" class="fr-grid-row">
  <div class="fr-col-lg-4 fr-col-xl-4">
    <%= render 'pages/developers/menu' %>
  </div>

  <div class="fr-col-lg-8 fr-col-xl-8">
    <%= render 'pages/developers/banner' %>
  </div>


  <div class="card-swagger fr-card fr-enlarge-link">
    <div class="fr-card__body">
      <div class="fr-card__content">
        <h4 class="fr-card__title">
          <%= link_to t('.card_swagger_link'), endpoints_path %>
        </h4>
        <p class="fr-card__desc"><%= t('.card_swagger_description').html_safe %></p>
      </div>
    </div>
  </div>

  <section id="introduction">
    <div class='title-anchor'>
      <button onclick="copyAnchor('introduction')" class="copy-link fr-icon-links-line"></button>
      <h2><%= t('.introduction_title') %></h2>
    </div>
    <h3><%= t('.introduction_subtitle') %></h3>
    <p><%= t('.introduction_description').html_safe %></p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>
</div>
