<div id="developers" class="fr-container--fluid">
  <div class="fr-grid-row">
    <div class="fr-col">
      <%= render 'pages/developers/menu' %>
    </div>

    <div class="fr-col-xs-12 fr-col-sm-12 fr-col-md-9 fr-col-lg-9 fr-col-xl-9">
      <%= render 'pages/developers/banner' %>


      <div class="fr-col-xs-12 fr-col-sm-12 card-swagger fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h4 class="fr-card__title">
              <%= link_to t('.card_swagger_link'), endpoints_path %>
            </h4>
            <p class="fr-card__desc"><%= t('.card_swagger_description').html_safe %></p>
          </div>
        </div>
      </div>

      <div class="documentation doc_markdown_to_html">
        <%= markdown_to_html(@doc_developers) %>
      </div>
    </div>
  </div>
</div>
