<div id="homepage">
  <%= render 'pages/home/section_welcome' %>
  <%= render 'pages/home/section_access' %>
  <%= render 'pages/home/section_howto' %>
  <%= render 'pages/newsletter' %>
  <%= render 'pages/home/section_partners' %>
  <%= render 'pages/home/section_endpoints' %>
  <%= render 'pages/home/section_developers' %>
</div>
