<div id="documentation" class="fr-container--fluid fr-mb-1v">
  <div class="fr-grid-row" <%= params[:disable_search].blank? ? 'data-controller=algolia-search-documentation' : '' %> data-algolia-search-documentation-index-value="DocumentationEntry" data-algolia-search-documentation-attributes-to-highlight-value='["title", "content_markdownify"]'>
    <div class="fr-col-12 fr-col-sm-12 fr-col-md-3 fr-col-lg-3 fr-col-xl-3">
      <%= render 'menu' %>
    </div>

    <div class="fr-col-12 fr-col-sm-12 fr-col-md-9 fr-col-lg-9 fr-col-xl-9 fr-background-default-white">
      <%= render 'banner' %>

      <% if action_name == 'developers' %>
      <div class="fr-col-12 fr-col-sm-12 card-swagger fr-card fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h4 class="fr-card__title">
              <%= link_to t('.card_swagger_link'), developers_openapi_path %>
            </h4>
            <p class="fr-card__desc"><%= t('.card_swagger_description').html_safe %></p>
          </div>
        </div>
      </div>
      <% end %>

      <div class="documentation doc_markdown_to_html">
        <% @documentation_entries.each do |entry| %>
          <div data-algolia-search-documentation-hit="<%= dom_id(entry) %>" id="<%= entry.id %>">
            <h2 data-algolia-search-documentation-hit-attribute="title" id="<%= entry.anchor %>">
              <%= entry&.title.html_safe %>
            </h2>
            <div data-algolia-search-documentation-hit-attribute="content_markdownify" id="<%= dom_id(entry, :content) %>">
              <%= raw entry.content_markdownify %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
