<div class="fr-grid-row" <%= params[:disable_search].blank? ? 'data-controller=algolia-search-with-accordion' : '' %> data-algolia-search-with-accordion-index-value="APIEntreprise_FAQEntry" data-algolia-search-with-accordion-attributes-to-highlight-value='["question", "answer_markdownify"]'>
  <div class="fr-col-12">
    <div class="fr-grid-row fr-mb-2w">
      <div class="fr-col-12">
        <h1>
          <%= t('.title') %>
        </h1>
      </div>

      <div class="fr-col-12 fr-hidden" data-algolia-search-with-accordion-target="searchBox">
        <div class="fr-search-bar fr-search-bar--lg" id="faq_search_input" role="search">
          <label class="fr-label" for="faq_search_input">
            <%= t('.search_bar.label') %>
          </label>

          <input class="fr-input" placeholder="<%= t('.search_bar.placeholder') %>" type="search" name="faq_search_input">

          <button class="fr-btn">
            <%= t('.search_bar.button') %>
          </button>
        </div>
      </div>
    </div>

    <div class="fr-grid-row fr-mt-2w">
      <div class="fr-col-12 fr-col-sm-4 fr-col-md-3">
        <nav class="fr-sidemenu" aria-label="Menu latéral">
          <div class="fr-sidemenu__inner">
            <div class="fr-collapse" id="fr-sidemenu-wrapper">
              <ul class="fr-sidemenu__list">
                <% @faq_entries_grouped_by_categories.keys.each do |category_name| %>
                  <%= render partial: "shared/faq_sidemenu_list_item", locals: { path: faq_index_path(anchor: category_name.parameterize), link_name: category_name } %>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="fr-col-12 fr-col-sm-8 fr-col-md-9" data-controller="anchor-buttons" data-anchor-buttons-tags-value='["h1", "h2", "h3", "section"]'>
        <% @faq_entries_grouped_by_categories.each do |category_name, faq_entries| %>
          <h2 id="<%= category_name.parameterize %>" class="fr-mt-4w">
            <%= category_name %>
          </h2>

          <div class="fr-mb-2w">
            <% faq_entries.each do |faq_entry| %>
              <section class="fr-accordion faq-entry" data-algolia-search-with-accordion-hit="<%= faq_entry.algolia_search_id %>" id="<%= dom_id(faq_entry) %>">
                <h3 class="fr-accordion__title">
                  <button class="fr-accordion__btn" aria-expanded="false" aria-controls="<%= dom_id(faq_entry, :answer) %>">
                    <div data-algolia-search-with-accordion-hit-attribute="question">
                      <%= faq_entry.question %>
                    </div>
                  </button>
                </h3>
                <div class="fr-collapse" id="<%= dom_id(faq_entry, :answer) %>" data-algolia-search-with-accordion-hit-attribute="answer_markdownify">
                  <%= raw faq_entry.answer_markdownify %>
                </div>
              </section>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
