<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour,</p>

    <p>Un de vos jetons d'accès à API Entreprise expire dans moins de <%= @nb_days %> jours.</p>

    <p>En effet, le jeton attribué dans le cadre d'utilisation "<%= @jwt.subject %>" (id : <%= @jwt.id %>) ne sera bientôt plus valide !

    <p><strong>Passée la date du <%= @jwt.user_friendly_exp_date %> les appels à API Entreprise avec ce jeton seront rejetés.</strong></p>

    <p>Le lien <%= link_to("suivant", @jwt.renewal_url) %> vous permet de demander le renouvellement de votre jeton. Le formulaire a été pré-rempli avec les données fournies lors de votre précédente demande d'accès, veuillez cependant vérifier que les informations sont à jour (notamment les coordonnées de contact) et les re-saisir dans le cas contraire. De plus, de nouvelles sources de données auxquelles vous auriez accès sont potentiellement disponibles depuis votre dernière demande !</p>

    <p>N'hésitez pas à contacter le support en répondant directement à cet email si vous avez la moindre question.</p>

    <p>Cordialement,</p>
    <p>L'équipe API Entreprise</p>
  </body>
</html>
