<%= search_form_for(@q, url: editor_authorization_requests_path, html: { method: :get, data: { turbo: false }, class: %w[search-box] }) do |f| %>
  <div class="fr-input-group input">
    <%= f.search_field :siret_or_external_id_or_intitule_or_demandeur_email_eq, placeholder: 'demandeur email, siret, datapass id..', id: 'search_main_input', class: %[fr-input] %>
  </div>

  <div class="actions">
    <%= f.submit 'Rechercher', class: %w[fr-btn fr-btn--primary] %>
  </div>
<% end %>

<div class="fr-table fr-table--bordered fr-table--layout-fixed">
  <table>
    <caption>
      Habilitations
    </caption>
    <thead>
      <tr>
        <%
          [
            'DataPass ID',
            'Intitule',
            'Jeton principal',
            'Organization',
            'Demandeur',
          ].each do |attr|
        %>
          <th scope="col">
            <%= attr %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @authorization_requests.each do |authorization_request| %>
        <tr id="<%= dom_id(authorization_request) %>" class="authorization-request">
          <td class="authorization_request-external_id">
            <%= link_to("DataPass ##{authorization_request.external_id}", "#{datapass_v2_base_url(authorization_request.api)}/public/demandes/#{authorization_request.public_id}", target: '_blank')%>
          </td>
          <td class="authorization_request-intitule">
            <%= authorization_request.intitule %>
          </td>
          <td class="authorization_request-token">
            <% if authorization_request.token %>
              <%= render partial: 'shared/tokens/detail_short', locals: { token: authorization_request.token.decorate } %>
            <% end %>
          </td>
          <td class="authorization_request-siret">
            <a href="https://annuaire-entreprises.data.gouv.fr/etablissement/<%= authorization_request.siret %>" target="_blank">
              <%= authorization_request.siret %>
            </a>
          </td>
          <td class="authorization_request-demandeur_email">
            <%= authorization_request.demandeur.try(:email) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @authorization_requests %>
