<section id="section-developers">
  <div class="fr-container fr-p-5w">
    <div class="fr-grid-row">
      <h2 class="fr-h3 fr-col-12"><%= t('.title').html_safe %></h2>
      <p class="fr-col-12"><%= t('.description') %></p>
    </div>

    <div class="cards">
      <div class="fr-card fr-m-2v fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-h4 fr-card__title">
              <%= link_to t('.prerequisites_link'), developers_path(anchor: 'prerequis-techniques') %>
            </h3>
            <p class="fr-card__desc"><%= t('.prerequisites_description') %></p>
          </div>
        </div>
      </div>

      <div class="fr-card fr-m-2v fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-h4 fr-card__title">
              <%= link_to t('.integration_link'), developers_path(anchor: 'kit-de-mise-en-production') %>
            </h3>
            <p class="fr-card__desc"><%= t('.integration_description') %></p>
          </div>
        </div>
      </div>


      <div class="fr-card fr-m-2v fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-h4 fr-card__title">
              <%= link_to t('.swagger_link'), developers_openapi_path %>
            </h3>
            <p class="fr-card__desc"><%= t('.swagger_description') %></p>
          </div>
        </div>
      </div>

      <div class="fr-card fr-m-2v fr-enlarge-link">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <h3 class="fr-h4 fr-card__title">
              <a href="https://status.entreprise.api.gouv.fr/"><%= t('.status_link') %></a>
            </h3>
            <div class="fr-card__desc" id="hyperping-badge"></div>
            <script src="https://hyperping.io/badge.js" async></script>
            <script>
              window.onload = function () {
                Hyperping.init({
                  "statuspage": "https://status.entreprise.api.gouv.fr",
                  "border": "none",
                  "borderColor": "#E4E6F0",
                  "uptime": false,
                  "dot": true,
                  "dotSize": 10,
                  "isNeutral": false,
                  "dotOk": "#2BAC76",
                  "dotIncident": "#FFAF36",
                  "dotOutage": "#E95858",
                  "dotMaintenance": "#0070F3",
                  "dotNeutral": "#0070F3",
                  "operational": "Systèmes fonctionnels",
                  "incident": "Incident en cours",
                  "outage": "Hors-service",
                  "maintenance": "En maintenance"
                });
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
