<section id="section-access" class="fr-background-default-white fr-pt-6w">
  <div class="fr-container">
    <div class="fr-grid-row">

      <div class="infos-left fr-col-md-8 fr-col-lg-8 fr-col-xl-8">
        <h4 class="fr-mb-0"><%= t('.title_access') %>&nbsp;:</h4>
  
        <%= link_to faq_index_path(anchor: 'qu-est-ce-qu-une-api'), class: "fr-link fr-link--sm fr-text--base fr-mb-5w" do %>
          <%= t('.link_faq') %>&nbsp;<span class="" aria-hidden="true" />
        <% end %>
      

        <div class="info fr-mb-3w fr-mt-5w">
          <%= image_tag("api_entreprise/home/pictos/donnees-certifiees.svg", class: %w(info--icon fr-icon--huge)) %>
          <div class="info--text">
            <h6 class="fr-mb-1w"><%= t('.info_data_title') %></h6>
            <p class="fr-text--alt fr-text--lg">
              <%= t('.info_data_description') %>
            </p>
          </div>
        </div>
        <div class="info fr-mb-3w">
          <%= image_tag("api_entreprise/home/pictos/fournisseur-donnees.svg", class: %w(info--icon fr-icon--huge)) %>
          <div class="info--text">
            <h6 class="fr-mb-1w"><%= t('.info_provider_title') %></h6>
            <p class="fr-text--alt fr-text--lg">
              <%= t('.info_provider_description') %>
            </p>
          </div>
        </div>
        <div class="info fr-mb-3w">
          <%= image_tag("api_entreprise/home/pictos/un-seul-compte.svg", class: %w(info--icon fr-icon--huge)) %>
          <div class="info--text">
            <h6 class="fr-mb-1w"><%= t('.info_account_title') %></h6>
            <p class="fr-text--alt fr-text--lg">
              <%= t('.info_account_description') %>
            </p>
          </div>
        </div>
        <div class="info fr-mb-3w">
          <%= image_tag("api_entreprise/home/pictos/interfacage.svg", class: %w(info--icon fr-icon--huge)) %>
          <div class="info--text">
            <h6 class="fr-mb-1w"><%= t('.info_technical_title') %></h6>
            <p class="fr-text--alt fr-text--lg">
              <%= t('.info_technical_description') %>
            </p>
          </div>
        </div>
      </div>

      <div class="cards-right fr-col-md-4 fr-col-lg-4 fr-col-xl-4">
        <div class="fr-grid-row">
          <div class="fr-card fr-m-5v fr-enlarge-link fr-col-11">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h4 class="fr-card__title">
                  <%= link_to t('.card_documentation_title'), endpoints_path %>
                </h4>
                <p class="fr-card__desc"><%= t('.card_documentation_description').html_safe %></p>
              </div>
            </div>
          </div>

          <div class="fr-card fr-m-5v fr-enlarge-link fr-col-11">
            <div class="fr-card__body">
              <div class="fr-card__content">
                <h4 class="fr-card__title">
                  <%= link_to t('.card_developers_title'), developers_path %>
                </h4>
                <p class="fr-card__desc"><%= t('.card_developers_description').html_safe %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
