<section class="center fr-pt-8w fr-pb-8w">
  <h1 class="fr-text--regular">
  <%= t('.title_start') %>
    <span class="fr-text--bold">
    <%= t('.title_medium').html_safe %></span> <%= t('.title_end').html_safe %>
  </h1>

  <div>
  <%= link_to endpoints_path, class: "fr-btn fr-m-1w" do %>
    <%= t('.button_endpoints') %>&nbsp;<span class="fr-icon-arrow-right-line" aria-hidden="true" />
  <% end %>

  <%= link_to developers_path(anchor: 'kit-de-mise-en-production'), class: "fr-btn fr-btn--secondary fr-m-1w" do %>
    <%= t('.button_developers') %>&nbsp;<span class="fr-icon-settings-5-line fr-icon--md" aria-hidden="true" />
  <% end %>
  </div>

  <%= link_to faq_index_path(anchor: 'qu-est-ce-que-l-api-entreprise-a-quoi-sert-elle'), class: "fr-link fr-link--sm fr-m-1w" do %>
    <%= t('.link_faq') %>&nbsp;<span class="" aria-hidden="true" />
  <% end %>
</section>



