<% if new_tokens_file_path.present? %>
  <div class="fr-highlight fr-highlight--pink-tuile fr-ml-0">
    <p>
      <%= t('.new_token') %>

      <%= link_to t('.new_token_download'), api_particulier_new_tokens_download_path, class: "fr-btn", id: 'download_new_tokens_file' %>
    </p>
  </div>
<% end %>

<h3>
  <%= t('.title', count: @tokens.count) %>
</h3>


<% if @tokens.any? %>
  <%= render 'shared/token_share_warning' %>

  <%= render @tokens %>
<% else %>
  <p id="no_token_disclaimer">
    <%= t('.no_token_disclaimer', user_email: current_user.email).html_safe %>
  </p>
<% end %>
