<style>
table, th, td {
  border: 1px solid black;
}
div {
	text-align: center;
  margin: 0 auto;
  width: 720px;
}
</style>

<div>
	<h1> Statistiques generales </h1>
  <table>
    <thead>
      <tr>
        <td> Utilisateurs avec jeton </td>
        <td> Utilisateurs sans jeton </td>
        <td> Tokens actifs (30 jours)</td>
        <td> Tokens inactifs (30 jours) </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @users_with_token %></td>
        <td><%= @users_without_token %></td>
        <td><%= @tokens_active_this_month %></td>
        <td><%= @tokens_inactive_this_month %></td>
      </tr>
    </tbody>
  </table>
	<br/>
	<br/>

  <h1> Renouvellement des jetons </h1>
  <%= pie_chart [
    ['Sous 7 jours', @tokens_expiring_in_less_than_1_week],
    ['Entre 7 jours et 1 mois', @tokens_expiring_in_less_than_1_month_but_after_1_week],
    ['Entre 1 mois et 3 mois', @tokens_expiring_in_less_than_3_months_but_after_1_month],
    ['Apres 3 mois', @tokens_expiring_in_more_than_3_months]
  ]
  %>
	<br/>
	<br/>

  <h1> Pilotage onboarding </h1>
	<h2> Utilisateurs recemment inscrits </h2>
  <table>
    <thead>
      <tr>
        <td> Email </td>
        <td> Contexte </td>
        <td> Profil </td>
        <td> Date de creation </td>
      </tr>
    </thead>
    <tbody>
			<% @users_recently_created.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.context %></td>
        <td> Lien a creer </td>
        <td>Il y a <%= time_ago_in_words(user.created_at)%></td>
      </tr>
    </tbody>
		<% end %>
	</table>
	</br>
	</br>

	<h2> Inscriptions par mois </h2>
	<%= column_chart @histogram %>
	</br>
	</br>

	<h2> Utilisateurs avec un token recent et jamais utilise </h2>
  <table>
    <thead>
      <tr>
        <td> Email </td>
        <td> Contexte </td>
        <td> Profil </td>
      </tr>
    </thead>
    <tbody>
			<% @users_with_recent_unused_token.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.context %></td>
        <td> Lien a creer </td>
      </tr>
    </tbody>
		<% end %>
	</table>
	</br>
	</br>


</div>
