<div class="fr-container" id="user_details">
  <div class="fr-grid-row">
   <%= link_to t('.links.authorization_requests'), authorization_requests_path, class: %w(fr-link fr-icon-arrow-left-line fr-link--icon-left fr-text--lg pull-right fr-mb-2w) %>
    <div class="fr-col-12">
      <h1 class="fr-h1 fr-mb-4w">
        <%= t('.title').html_safe %>
      </h1>
    </div>
  </div>
  <div class="main-content fr-p-4w" style="background-color: var(--background-default-grey)">
    <h3>
      <%= user.full_name %>

      <% if user_roles.include?(:demandeur) %>
        <span class="fr-tag">
          <%= t('.demandeur') %>
        </span>
      <% end %>

      <% if user_roles.include?(:contact_metier) %>
        <span class="fr-tag">
          <%= t('.contact_metier') %>
        </span>
      <% end %>

      <% if user_roles.include?(:contact_technique) %>
        <span class="fr-tag">
          <%= t('.contact_technique') %>
        </span>
      <% end %>
    </h3>

    <div class="fr-grid-row">
      <div class="fr-col-12 fr-col-md-6">
        <ul class="list-unstyled user-general-infos">
          <li>
            <%= icon('fr-icon-mail-line') %>
            <%= user.email %>
          </li>
        </ul>
      </div>
      <div class="fr-col-12 fr-col-md-6">
        <p class="center fr-m-1w">
          <%= t('.transfer_account.disclaimer') %>

          <br>
          <br>

          <a id="transfer_account_button" href="<%= transfer_account_path %>" data-turbo-frame="main-modal-content" class="fr-btn fr-btn--secondary fr-btn--icon-left" data-fr-opened="false" aria-controls="main-modal">
            <span class="ri-user-shared-line"></span>
            <%= t('.transfer_account.cta') %>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
