<div class="fr-grid-row">
  <h3> Comment lire les statistiques ci-dessous ?</h3>

  <p>
  Ce sont des chiffres généraux permettant de dégager des <i>tendances </i>, et de voir les évolutions. Ils peuvent prêter à confusion car le contexte n'est pas indiqué et leur granularité est limitée.
  Il faut donc être vigilant dans la façon de les analyser. Par exemple :
  </p>
  <ul>
    <li> un nombre élevé d'appels (par exemple 500 000/semaine) peut cacher différentes utilisations ; il s'agit a priori d'un utilisateur ayant traité beaucoup de démarches, mais cela peut parfois être un appel ponctuel de masse effectué pour mettre à jour une base de données ;</li>
    <li> le nombre d'appels affiché pour un utilisateur peut être surévalué à cause d'un dysfonctionnement applicatif gonflant artificiellement les statistiques.</li>
  </ul>
  <p>
  Enfin, sont exclus de ces statistiques : 
    ne tiennent pas compte des utilisateurs administrateurs. Concernant les tokens, ceux de ping, blacklistés, archivés ou expirés sont exclus des statistiques
  </p>
  <ul>
    <li> les comptes des utilisateurs administrateurs ;</li>
    <li> les tokens de ping ;</li>
    <li> les tokens blacklistés, archivés ou expirés.</li>
  </ul>

</div>

<div class="fr-grid-row">
  <h2> Statistiques générales </h2>
  <div class="fr-table fr-table--bordered">
    <table>
      <thead>
        <tr>
          <th scope="col"> Utilisateurs avec jeton </th>
          <th scope="col"> Utilisateurs sans jeton </th>
          <th scope="col"> Tokens actifs (30 jours) </th>
          <th scope="col"> Tokens inactifs (30 jours) </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @users_with_token %></td>
          <td><%= @users_without_token %></td>
          <td><%= @tokens_active_this_month %></td>
          <td><%= @tokens_inactive_this_month %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="fr-grid-row">
  <h2> Renouvellement des jetons </h2>
  <%= pie_chart [
    ['Sous 7 jours', @tokens_expiring_in_less_than_1_week],
    ['Entre 7 jours et 1 mois', @tokens_expiring_in_less_than_1_month_but_after_1_week],
    ['Entre 1 mois et 3 mois', @tokens_expiring_in_less_than_3_months_but_after_1_month],
    ['Apres 3 mois', @tokens_expiring_in_more_than_3_months]]
  %>
</div>

<div class="fr-grid-row">
  <h2> Pilotage onboarding </h2>
  <h3> Utilisateurs récemment inscrits </h3>
  <div class="fr-table fr-table--bordered">
    <table>
      <thead>
        <tr>
          <td> E-mail </td>
          <td> Contexte </td>
          <td> Profil </td>
          <td> Date de création </td>
        </tr>
      </thead>
      <tbody>
        <% @users_recently_created.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.context %></td>
            <td> Lien a créer </td>
            <td>Il y a <%= time_ago_in_words(user.created_at)%></td>
          </tr>
      </tbody>
    <% end %>
    </table>
  </div>

  <h3> Inscriptions par mois </h3>
  <%= column_chart @monthly_new_users_histogram %>

  <h3> Utilisateurs avec un token récent et jamais utilisé </h3>
  <div class="fr-table fr-table--bordered">
    <table>
      <thead>
        <tr>
          <td> E-mail </td>
          <td> Contexte </td>
          <td> Profil </td>
        </tr>
      </thead>
      <tbody>
        <% @users_with_recent_unused_token.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.context %></td>
            <td> Lien a creer </td>
          </tr>
      </tbody>
    <% end %>
    </table>
  </div>

  <h3> Utilisateurs avec un token de plus de 30 jours et pas en production </h3>
  Un token n'est pas considéré en production tant qu'il n'a pas appelé au moins 20 sirets/siren/rna_id distincts.
  <div class="fr-table fr-table--bordered">
    <table>
      <thead>
        <tr>
          <td> E-mail </td>
          <td> Contexte </td>
          <td> Profil </td>
        </tr>
      </thead>
      <tbody>
        <% @users_with_production_delayed_token.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.context %></td>
            <td> Lien a creer </td>
          </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>
