<div class="fr-grid-row">
  <h3> ATTENTION </h3>

  <h5>Les statistiques et chiffres que vous consultez sont trompeurs et doivent etre pris avec des pincettes. Nous n'avons pas le contexte ni la granularite suffisante pour prendre ces chiffres pour argent comptant.</h5>
  Par exemple :

  <ul>
    <li> un utilisateur peut decider de mettre a jour sa base de donnees par confort. Les appels ne representent alors pas de demarche effectuee au nom d'un beneficiaire quelconque</li>
    <li> les appels effectues par un utilisateur sont effectues plusieurs fois a cause d'un dysfonctionnement applicatif gonflant artificiellement les statistiques</li>
  </ul>

  <p>
  Nous nous cantonnons a des chiffres generaux permettant de degager des <i>tendances </i>, et de voir les evolutions. A ce titre, les statistiques ne portent pas sur les utilisateurs administrateurs. Concernant les tokens, ceux de ping, blacklistes, archives ou expires sont exclus des statistiques
  </p>
</div>

<div class="fr-grid-row">
  <h2> Statistiques generales </h2>
  <div class="fr-table fr-table--bordered">
    <table>
      <thead>
        <tr>
          <th scope="col"> Utilisateurs avec jeton </th>
          <th scope="col"> Utilisateurs sans jeton </th>
          <th scope="col"> Tokens actifs (30 jours) </th>
          <th scope="col"> Tokens inactifs (30 jours) </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @users_with_token %></td>
          <td><%= @users_without_token %></td>
          <td><%= @tokens_active_this_month %></td>
          <td><%= @tokens_inactive_this_month %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="fr-grid-row">
  <h2> Renouvellement des jetons </h2>
  <%= pie_chart [
    ['Sous 7 jours', @tokens_expiring_in_less_than_1_week],
    ['Entre 7 jours et 1 mois', @tokens_expiring_in_less_than_1_month_but_after_1_week],
    ['Entre 1 mois et 3 mois', @tokens_expiring_in_less_than_3_months_but_after_1_month],
    ['Apres 3 mois', @tokens_expiring_in_more_than_3_months]]
  %>
</div>

<div class="fr-grid-row">
  <h2> Pilotage onboarding </h2>
  <h3> Utilisateurs recemment inscrits </h3>
  <div class="fr-table fr-table--bordered">
    <table>
      <thead>
        <tr>
          <td> Email </td>
          <td> Contexte </td>
          <td> Profil </td>
          <td> Date de creation </td>
        </tr>
      </thead>
      <tbody>
        <% @users_recently_created.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.context %></td>
            <td> Lien a creer </td>
            <td>Il y a <%= time_ago_in_words(user.created_at)%></td>
          </tr>
      </tbody>
    <% end %>
    </table>
  </div>

  <h3> Inscriptions par mois </h3>
  <%= column_chart @monthly_new_users_histogram %>

  <h3> Utilisateurs avec un token recent et jamais utilise </h3>
  <div class="fr-table fr-table--bordered">
    <table>
      <thead>
        <tr>
          <td> Email </td>
          <td> Contexte </td>
          <td> Profil </td>
        </tr>
      </thead>
      <tbody>
        <% @users_with_recent_unused_token.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.context %></td>
            <td> Lien a creer </td>
          </tr>
      </tbody>
    <% end %>
    </table>
  </div>

  <h3> Utilisateurs avec un token de plus de 30 jours et pas en production </h3>
  Un token n'est pas considere en production quand il n'a pas au moins appele 20 sirets/siren/rna_id distincts
  <div class="fr-table fr-table--bordered">
    <table>
      <thead>
        <tr>
          <td> Email </td>
          <td> Contexte </td>
          <td> Profil </td>
        </tr>
      </thead>
      <tbody>
        <% @users_with_production_delayed_token.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.context %></td>
            <td> Lien a creer </td>
          </tr>
      </tbody>
    <% end %>
    </table>
  </div>
</div>
