<h2 class="center">
  <%= t('.title').html_safe %>
</h2>

<div class="fr-container">
  <div class="fr-grid-row">
    <div class="fr-col-md-6 fr-col-offset-md-3 fr-col-12 center">
      <div class="fr-card fr-card--horizontal fr-card--no-arrow">
        <div class="fr-card__body">
          <div class="fr-card__content">
            <%= form_with(url: public_magic_link_create_url, method: :post, data: { turbo: false }) do |f| %>
              <%= f.label :email, t('.label'), class: "fr-label" %>
              <%= f.email_field :email, placeholder: "Email", required: true, class: %w(fr-m-2w fr-input) %>
              <%= f.button t('.button'), class: %w(fr-btn fr-btn--md fr-m-2w), id: 'send_magic_link' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
