<!DOCTYPE html>
<html lang="fr" data-fr-scheme="light">
  <head>
    <title><%= t('.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render partial: 'shared/favicons' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <%= javascript_include_tag "turbo", type: "module" %>

    <%= render partial: 'shared/head_scripts' %>

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>

  <body
    data-algolia-application-id="<%= Rails.application.credentials.algolia_application_id %>"
    data-algolia-search-key="<%= Rails.application.credentials.algolia_search_api_key %>"
  >
    <%= render partial: 'shared/header' %>

    <% if content_for?(:container_fluid) %>
      <div class="fr-container--fluid fr-mb-5w fr-mt-5w">
        <%= render partial: 'shared/alerts' %>

        <%= yield(:container_fluid) %>
      </div>
    <% else %>
      <div class="fr-container fr-mb-5w fr-mt-5w">
        <%= render partial: 'shared/alerts' %>

        <% if content_for?(:body) %>
          <%= yield(:body) %>
        <% else %>
          <%= yield %>
        <% end %>
      </div>

    <% end %>

    <%= render partial: 'shared/footer' %>
    <%= render partial: 'shared/modal' %>
  </body>
</html>
