<!DOCTYPE html>
<html lang="fr" data-fr-theme="light">
  <head>
    <title><%= t('.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render partial: 'shared/favicons' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>

    <div class="fr-container fr-main-container">
      <%= render partial: 'shared/alerts' %>

      <%= yield %>
    </div>

    <%= render partial: 'shared/footer' %>
  </body>
</html>
